body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:856px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:1792px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:470px;
  height:1792px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:387px;
  width:172px;
  height:34px;
  text-align:left;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:168px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:291px;
  height:22px;
}
#u170p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:284px;
  height:4px;
}
#u170p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:4px;
}
#u170p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u170p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u170p002 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u170p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:403px;
  width:280px;
  height:2px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:394px;
  width:32px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:28px;
  word-wrap:break-word;
}
#u172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:640px;
  top:510px;
  width:146px;
  height:34px;
  text-align:left;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:163px;
  height:22px;
}
#u173p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:156px;
  height:6px;
}
#u173p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:6px;
}
#u173p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u173p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u173p002 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u173p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:526px;
  width:152px;
  height:2px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:517px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:190px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:551px;
  width:493px;
  height:190px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:612px;
  width:258px;
  height:69px;
  text-align:left;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:254px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:88px;
  height:22px;
}
#u177p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:82px;
  height:4px;
}
#u177p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:4px;
}
#u177p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u177p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u177p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u177p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:639px;
  width:77px;
  height:2px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:630px;
  width:35px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:31px;
  word-wrap:break-word;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:863px;
  width:146px;
  height:34px;
  text-align:left;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:136px;
  height:22px;
}
#u180p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:130px;
  height:4px;
}
#u180p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:4px;
}
#u180p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u180p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u180p002 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u180p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:879px;
  width:125px;
  height:2px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:870px;
  width:96px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:130px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:799px;
  width:491px;
  height:130px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
