body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1913px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1095px;
  height:496px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:14px;
  width:1095px;
  height:496px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:943px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:201px;
  width:943px;
  height:170px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:230px;
  width:909px;
  height:124px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:0px;
  width:86px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:36px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:0px;
  width:86px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:82px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:36px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:0px;
  width:67px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:63px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:0px;
  width:77px;
  height:36px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:44px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:57px;
  height:44px;
  font-size:11px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:36px;
  width:86px;
  height:44px;
  font-size:11px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:36px;
  width:86px;
  height:44px;
  font-size:11px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:36px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:44px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:36px;
  width:77px;
  height:44px;
  font-size:11px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:73px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:44px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:57px;
  height:44px;
  font-size:11px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:53px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:80px;
  width:86px;
  height:44px;
  font-size:11px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:44px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:80px;
  width:86px;
  height:44px;
  font-size:11px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:82px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:631px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:44px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:80px;
  width:67px;
  height:44px;
  font-size:11px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:63px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:44px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:80px;
  width:77px;
  height:44px;
  font-size:11px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:73px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(53, 169, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:163px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  word-wrap:break-word;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:25px;
  background:inherit;
  background-color:rgba(53, 169, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:159px;
  width:47px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:114px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:111px;
  width:457px;
  height:114px;
  text-align:left;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:453px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:220px;
  height:22px;
}
#u78p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:214px;
  height:4px;
}
#u78p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:4px;
}
#u78p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u78p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u78p002 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u78p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1086px;
  top:171px;
  width:209px;
  height:2px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#F75534;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:165px;
  width:53px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#F75534;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:618px;
  height:300px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:242px;
  width:618px;
  height:300px;
  text-align:left;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:614px;
  word-wrap:break-word;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:250px;
  width:0px;
  height:0px;
}
#u81_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u81_seg1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-4px;
  width:8px;
  height:150px;
}
#u81_seg2 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:138px;
  width:66px;
  height:8px;
}
#u81_seg3 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:132px;
  width:20px;
  height:20px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:100px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#F75534;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:242px;
  width:53px;
  height:13px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#F75534;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:161px;
  width:53px;
  height:22px;
  font-size:9px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:159px;
  width:142px;
  height:23px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:23px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u84_input:disabled {
  color:grayText;
}
