body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1584px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:1018px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:470px;
  height:1018px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:1018px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:1114px;
  top:38px;
  width:470px;
  height:1018px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:1018px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:38px;
  width:470px;
  height:1018px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
