body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1838px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1196px;
  height:539px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:9px;
  width:1196px;
  height:539px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:270px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:272px;
  width:335px;
  height:270px;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:230px;
  width:42px;
  height:23px;
  font-size:9px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:230px;
  width:203px;
  height:24px;
}
#u1400_input {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1400_input:disabled {
  color:grayText;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:278px;
  width:42px;
  height:23px;
  font-size:9px;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:302px;
  height:94px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:221px;
  width:299px;
  height:91px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:267px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1403_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:667px;
  height:8px;
}
#u1403_seg1 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:282px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:17px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:259px;
  width:31px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#FF6600;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:564px;
  height:148px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:1277px;
  top:194px;
  width:561px;
  height:145px;
  text-align:left;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:557px;
  word-wrap:break-word;
}
