body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:781px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:105px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:13px;
  width:763px;
  height:104px;
  text-align:left;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:759px;
  word-wrap:break-word;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:125px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:145px;
  width:763px;
  height:124px;
  text-align:left;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:759px;
  word-wrap:break-word;
}
