body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:760px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:1181px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:58px;
  width:697px;
  height:1180px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:29px;
  width:350px;
  height:29px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:346px;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:30px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:29px;
  width:347px;
  height:29px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:343px;
  word-wrap:break-word;
}
#u752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1195px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:413px;
  top:44px;
  width:1px;
  height:1194px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:1181px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:58px;
  width:27px;
  height:1180px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:558px;
  width:23px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:184px;
  width:85px;
  height:30px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:98px;
  width:118px;
  height:30px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:215px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:175px;
  width:144px;
  height:214px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:185px;
  width:97px;
  height:28px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:227px;
  width:97px;
  height:28px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:309px;
  width:97px;
  height:28px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:269px;
  width:97px;
  height:28px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:185px;
  width:62px;
  height:28px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:199px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u762_seg0 {
  border-width:0px;
  position:absolute;
  left:-203px;
  top:-4px;
  width:207px;
  height:8px;
}
#u762_seg1 {
  border-width:0px;
  position:absolute;
  left:-209px;
  top:-9px;
  width:19px;
  height:18px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:-152px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:199px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u763_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:78px;
  height:8px;
}
#u763_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-9px;
  width:19px;
  height:18px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:348px;
  width:97px;
  height:28px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:458px;
  width:145px;
  height:30px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:513px;
  width:25px;
  height:15px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:506px;
  width:85px;
  height:30px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:507px;
  width:62px;
  height:28px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:521px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u769_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:78px;
  height:8px;
}
#u769_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-9px;
  width:19px;
  height:18px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:488px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u770_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u770_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:376px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u771_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u771_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:69px;
  width:18px;
  height:19px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:323px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u772_seg0 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-4px;
  width:48px;
  height:8px;
}
#u772_seg1 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:-4px;
  width:8px;
  height:97px;
}
#u772_seg2 {
  border-width:0px;
  position:absolute;
  left:-48px;
  top:85px;
  width:101px;
  height:8px;
}
#u772_seg3 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:85px;
  width:8px;
  height:50px;
}
#u772_seg4 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:122px;
  width:18px;
  height:19px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:81px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:521px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u774_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u774_seg1 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:-4px;
  width:243px;
  height:8px;
}
#u774_seg2 {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:-9px;
  width:19px;
  height:18px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:513px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:589px;
  width:183px;
  height:30px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u778_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u778_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:19px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:542px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:637px;
  width:25px;
  height:15px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:630px;
  width:85px;
  height:30px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:631px;
  width:62px;
  height:28px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:645px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u783_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:78px;
  height:8px;
}
#u783_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-9px;
  width:19px;
  height:18px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:619px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u784_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u784_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:5px;
  width:18px;
  height:19px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:645px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u786_seg0 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:-4px;
  width:243px;
  height:8px;
}
#u786_seg1 {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:-9px;
  width:19px;
  height:18px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:638px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:652px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u789_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u789_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:662px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:31px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:811px;
  width:147px;
  height:30px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:143px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:875px;
  width:25px;
  height:15px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:868px;
  width:107px;
  height:30px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:869px;
  width:62px;
  height:28px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:883px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u795_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:68px;
  height:8px;
}
#u795_seg1 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:841px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u796_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u796_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:553px;
  top:883px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u798_seg0 {
  border-width:0px;
  position:absolute;
  left:-227px;
  top:-4px;
  width:231px;
  height:8px;
}
#u798_seg1 {
  border-width:0px;
  position:absolute;
  left:-233px;
  top:-9px;
  width:19px;
  height:18px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:-164px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:876px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:890px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u801_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u801_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:19px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:904px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:943px;
  width:85px;
  height:30px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:1171px;
  width:104px;
  height:30px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:1171px;
  width:107px;
  height:30px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:1172px;
  width:62px;
  height:28px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:1186px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u807_seg0 {
  border-width:0px;
  position:absolute;
  left:-64px;
  top:-4px;
  width:68px;
  height:8px;
}
#u807_seg1 {
  border-width:0px;
  position:absolute;
  left:-70px;
  top:-9px;
  width:19px;
  height:18px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:1186px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u808_seg0 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-4px;
  width:192px;
  height:8px;
}
#u808_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-9px;
  width:19px;
  height:18px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:128px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u809_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u809_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:973px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u810_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u810_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:283px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u811_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:67px;
  height:8px;
}
#u811_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-4px;
  width:8px;
  height:551px;
}
#u811_seg2 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:539px;
  width:45px;
  height:8px;
}
#u811_seg3 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:534px;
  width:19px;
  height:18px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:252px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:943px;
  width:125px;
  height:30px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:617px;
  top:241px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u813_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u813_seg1 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-4px;
  width:8px;
  height:603px;
}
#u813_seg2 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:591px;
  width:40px;
  height:8px;
}
#u813_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:591px;
  width:8px;
  height:111px;
}
#u813_seg4 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:689px;
  width:18px;
  height:19px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:56px;
  top:306px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:973px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u814_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:217px;
}
#u814_seg1 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:209px;
  width:77px;
  height:8px;
}
#u814_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:204px;
  width:19px;
  height:18px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:135px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:999px;
  width:145px;
  height:30px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1113px;
  width:145px;
  height:30px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:31px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:493px;
  top:1057px;
  width:145px;
  height:30px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:1029px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u818_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u818_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:1087px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u819_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u819_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:1143px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u820_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u820_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:696px;
  width:183px;
  height:30px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:757px;
  width:25px;
  height:15px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:31px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:750px;
  width:85px;
  height:30px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:751px;
  width:62px;
  height:28px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:765px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u825_seg0 {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-4px;
  width:78px;
  height:8px;
}
#u825_seg1 {
  border-width:0px;
  position:absolute;
  left:-80px;
  top:-9px;
  width:19px;
  height:18px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:765px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u827_seg0 {
  border-width:0px;
  position:absolute;
  left:-241px;
  top:-4px;
  width:245px;
  height:8px;
}
#u827_seg1 {
  border-width:0px;
  position:absolute;
  left:-247px;
  top:-9px;
  width:19px;
  height:18px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:758px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:772px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u830_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:23px;
}
#u830_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:15px;
  width:10px;
  height:8px;
}
#u830_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:15px;
  width:8px;
  height:24px;
}
#u830_seg3 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:26px;
  width:18px;
  height:19px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:779px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:726px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u832_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:19px;
}
#u832_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:11px;
  width:9px;
  height:8px;
}
#u832_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:11px;
  width:8px;
  height:20px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:-51px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:40px;
}
#u833p000 {
  border-width:0px;
  position:absolute;
  left:-18px;
  top:14px;
  width:38px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u833p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:40px;
  height:6px;
}
#u833p001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:2px;
  height:4px;
}
#u833p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:6px;
}
#u833p002 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:18px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u833p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:24px;
  height:22px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:726px;
  width:1px;
  height:31px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
