body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:842px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1155px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:81px;
  width:775px;
  height:1155px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:29px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:90px;
  width:125px;
  height:29px;
  font-size:28px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:44px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:153px;
  width:88px;
  height:50px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:233px;
  width:88px;
  height:50px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:313px;
  width:88px;
  height:50px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:393px;
  width:88px;
  height:50px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:50px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:473px;
  width:153px;
  height:50px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:149px;
  word-wrap:break-word;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:710px;
  width:116px;
  height:50px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  word-wrap:break-word;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:80px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:695px;
  width:175px;
  height:80px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:171px;
  word-wrap:break-word;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:572px;
  width:128px;
  height:50px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:905px;
  width:128px;
  height:50px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  word-wrap:break-word;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:155px;
  top:905px;
  width:137px;
  height:50px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:133px;
  word-wrap:break-word;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:572px;
  width:88px;
  height:50px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:203px;
  width:0px;
  height:0px;
}
#u719_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u719_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:283px;
  width:0px;
  height:0px;
}
#u720_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u720_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:363px;
  width:0px;
  height:0px;
}
#u721_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u721_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:443px;
  width:0px;
  height:0px;
}
#u722_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u722_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:603px;
  width:0px;
  height:0px;
}
#u723_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:111px;
}
#u723_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:94px;
  width:20px;
  height:20px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:775px;
  width:0px;
  height:0px;
}
#u724_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:134px;
}
#u724_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:117px;
  width:20px;
  height:20px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:57px;
  width:100px;
  word-wrap:break-word;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:739px;
  top:695px;
  width:0px;
  height:0px;
  font-size:11px;
}
#u725_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:77px;
}
#u725_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-80px;
  width:20px;
  height:20px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-43px;
  width:100px;
  word-wrap:break-word;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:597px;
  width:0px;
  height:0px;
}
#u726_seg0 {
  border-width:0px;
  position:absolute;
  left:-233px;
  top:-4px;
  width:237px;
  height:8px;
}
#u726_seg1 {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:-10px;
  width:20px;
  height:20px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:-166px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:930px;
  width:0px;
  height:0px;
}
#u727_seg0 {
  border-width:0px;
  position:absolute;
  left:-383px;
  top:-4px;
  width:387px;
  height:8px;
}
#u727_seg1 {
  border-width:0px;
  position:absolute;
  left:-390px;
  top:-10px;
  width:20px;
  height:20px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:-242px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:572px;
  width:88px;
  height:50px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:84px;
  word-wrap:break-word;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:523px;
  width:0px;
  height:0px;
}
#u729_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u729_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:36px;
  width:20px;
  height:20px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:710px;
  width:116px;
  height:50px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  word-wrap:break-word;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:735px;
  width:0px;
  height:0px;
}
#u731_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u731_seg1 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:-10px;
  width:20px;
  height:20px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:-32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:597px;
  width:0px;
  height:0px;
}
#u732_seg0 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-4px;
  width:91px;
  height:8px;
}
#u732_seg1 {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-10px;
  width:20px;
  height:20px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:988px;
  width:88px;
  height:50px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1081px;
  width:88px;
  height:50px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u735_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1169px;
  width:88px;
  height:50px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1038px;
  width:0px;
  height:0px;
}
#u736_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u736_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1131px;
  width:0px;
  height:0px;
}
#u737_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u737_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:25px;
  width:20px;
  height:20px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:955px;
  width:0px;
  height:0px;
}
#u738_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u738_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:20px;
  width:20px;
  height:20px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:1158px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:462px;
  top:81px;
  width:2px;
  height:1155px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:778px;
  height:5px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:130px;
  width:775px;
  height:2px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:31px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:90px;
  width:125px;
  height:31px;
  font-size:28px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:735px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u742_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:223px;
  height:8px;
}
#u742_seg1 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:-10px;
  width:20px;
  height:20px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:498px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u743_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-4px;
  width:20px;
  height:8px;
}
#u743_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-4px;
  width:8px;
  height:337px;
}
#u743_seg2 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:325px;
  width:26px;
  height:8px;
}
#u743_seg3 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:319px;
  width:20px;
  height:20px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:-66px;
  top:162px;
  width:100px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:71px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:791px;
  width:142px;
  height:71px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:138px;
  word-wrap:break-word;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:802px;
  width:88px;
  height:50px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:84px;
  word-wrap:break-word;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:827px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u746_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u746_seg1 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:-10px;
  width:20px;
  height:20px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-6px;
  width:100px;
  word-wrap:break-word;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:862px;
  width:0px;
  height:0px;
  font-size:10px;
}
#u747_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u747_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:24px;
  width:9px;
  height:8px;
}
#u747_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:24px;
  width:8px;
  height:19px;
}
#u747_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:20px;
  height:20px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
