body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:41px;
  width:881px;
  height:116px;
}
#u1124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:194px;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:30px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:0px;
  width:423px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:419px;
  word-wrap:break-word;
}
#u1126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:30px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:0px;
  width:260px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:86px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:198px;
  height:86px;
}
#u1127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:35px;
  width:194px;
  word-wrap:break-word;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:86px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:30px;
  width:423px;
  height:86px;
  text-align:left;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:419px;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:86px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:621px;
  top:30px;
  width:260px;
  height:86px;
  text-align:left;
}
#u1129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:256px;
  word-wrap:break-word;
}
