body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:641px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:1090px;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:19px;
  width:329px;
  height:1090px;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
  background:inherit;
  background-color:rgba(57, 112, 224, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:9px;
  color:#F2F2F2;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:235px;
  width:72px;
  height:22px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:250;
  font-style:normal;
  font-size:9px;
  color:#F2F2F2;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u1367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:40px;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:217px;
  width:77px;
  height:40px;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:71px;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:206px;
  width:212px;
  height:71px;
  text-align:left;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:208px;
  word-wrap:break-word;
}
#u1369_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:94px;
  height:5px;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:237px;
  width:91px;
  height:2px;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:227px;
  width:30px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:33px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:356px;
  width:346px;
  height:33px;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:352px;
  width:212px;
  height:40px;
  text-align:left;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:208px;
  word-wrap:break-word;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:68px;
  height:5px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:372px;
  width:65px;
  height:2px;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:362px;
  width:30px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:33px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:395px;
  width:346px;
  height:33px;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:40px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:395px;
  width:212px;
  height:40px;
  text-align:left;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:208px;
  word-wrap:break-word;
}
#u1377_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:68px;
  height:5px;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:415px;
  width:65px;
  height:2px;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:405px;
  width:30px;
  height:23px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  word-wrap:break-word;
}
