body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:893px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:1163px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:470px;
  height:1163px;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:56px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:1100px;
  width:227px;
  height:56px;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:60px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1100px;
  width:217px;
  height:60px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:453px;
  height:50px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:888px;
  width:453px;
  height:50px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:51px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:948px;
  width:441px;
  height:51px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:47px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1010px;
  width:436px;
  height:47px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:34px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:198px;
  width:14px;
  height:34px;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:198px;
  width:229px;
  height:34px;
  text-align:left;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:34px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:198px;
  width:14px;
  height:34px;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:34px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:1071px;
  width:14px;
  height:34px;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:1071px;
  width:229px;
  height:34px;
  text-align:left;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:225px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:34px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:1071px;
  width:14px;
  height:34px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:738px;
  width:344px;
  height:97px;
  text-align:left;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:340px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:34px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:738px;
  width:14px;
  height:34px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:34px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:738px;
  width:14px;
  height:34px;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:10px;
  word-wrap:break-word;
}
