body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1452px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:543px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:10px;
  width:1212px;
  height:543px;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:230px;
  width:42px;
  height:23px;
  font-size:9px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:278px;
  width:42px;
  height:23px;
  font-size:9px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:581px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:548px;
  width:157px;
  height:581px;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:385px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:507px;
  width:1047px;
  height:384px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:27px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:461px;
  width:74px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:right;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:70px;
  word-wrap:break-word;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:29px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:459px;
  width:174px;
  height:28px;
  font-size:10px;
  color:#999999;
  text-align:left;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:170px;
  word-wrap:break-word;
}
#u462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:54px;
  width:148px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:86px;
  width:148px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#CCCCCC;
  text-align:left;
}
#u464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:144px;
  word-wrap:break-word;
}
#u465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:58px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u465_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:22px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:149px;
  width:17px;
  height:21px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:149px;
  width:73px;
  height:21px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:91px;
  width:24px;
  height:24px;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:128px;
  width:62px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:left;
}
#u469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:58px;
  word-wrap:break-word;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:361px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:137px;
  width:401px;
  height:360px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:137px;
  width:79px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:142px;
  width:300px;
  height:25px;
}
#u472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:195px;
  width:79px;
  height:35px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:75px;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:94px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:192px;
  width:186px;
  height:94px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:149px;
  width:62px;
  height:21px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
  text-align:left;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1056px;
  height:171px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:116px;
  width:1055px;
  height:170px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:137px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:69px;
  word-wrap:break-word;
}
#u478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:180px;
  width:89px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:177px;
  width:300px;
  height:25px;
}
#u479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:230px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:227px;
  width:300px;
  height:25px;
}
#u481_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:23px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:279px;
  width:89px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:85px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:101px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:279px;
  width:178px;
  height:101px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:540px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:69px;
  word-wrap:break-word;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:538px;
  width:300px;
  height:25px;
}
#u485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:584px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:69px;
  word-wrap:break-word;
}
#u487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:632px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:630px;
  width:300px;
  height:25px;
}
#u488_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:677px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:675px;
  width:300px;
  height:25px;
}
#u490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:725px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:69px;
  word-wrap:break-word;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:723px;
  width:300px;
  height:25px;
}
#u492_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:788px;
  width:88px;
  height:32px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:788px;
  width:88px;
  height:32px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:23px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:429px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:69px;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:413px;
  width:94px;
  height:94px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:94px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:494px;
  top:413px;
  width:94px;
  height:94px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:23px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:137px;
  width:203px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:23px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:377px;
  top:584px;
  width:203px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:199px;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:249px;
  height:22px;
}
#u500p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:244px;
  height:6px;
}
#u500p000_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:248px;
  height:10px;
}
#u500p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u500p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u500p002 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u500p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:26px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:148px;
  width:238px;
  height:2px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:28px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:132px;
  width:188px;
  height:27px;
  text-align:left;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:184px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:139px;
  width:33px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F75534;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:408px;
  height:22px;
}
#u503p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:402px;
  height:4px;
}
#u503p000_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:406px;
  height:8px;
}
#u503p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u503p001_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:8px;
  height:8px;
}
#u503p002 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u503p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:28px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:595px;
  width:397px;
  height:2px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:28px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:795px;
  top:579px;
  width:657px;
  height:27px;
  text-align:left;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:653px;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:586px;
  width:33px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F75534;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
