body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:538px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:1177px;
  height:538px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:101px;
  width:21px;
  height:21px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1018px;
  height:570px;
  background:inherit;
  background-color:rgba(235, 241, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:91px;
  width:1018px;
  height:570px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:28px;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:56px;
  width:224px;
  height:28px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:91px;
  width:1001px;
  height:133px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:99px;
  width:64px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u810_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:342px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:251px;
  width:1001px;
  height:342px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:136px;
  width:158px;
  height:20px;
  text-align:left;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:154px;
  word-wrap:break-word;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:135px;
  width:174px;
  height:22px;
}
#u812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u812_input:disabled {
  color:grayText;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:176px;
  width:74px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:176px;
  width:55px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:51px;
  word-wrap:break-word;
}
#u815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:386px;
  top:176px;
  width:74px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u816_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:176px;
  width:71px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:176px;
  width:85px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:81px;
  word-wrap:break-word;
}
#u818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:670px;
  top:176px;
  width:71px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:67px;
  word-wrap:break-word;
}
#u819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:261px;
  width:77px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  word-wrap:break-word;
}
#u820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:300px;
  width:94px;
  height:20px;
  text-align:left;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:90px;
  word-wrap:break-word;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:297px;
  width:101px;
  height:25px;
}
#u821_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:43px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:288px;
  width:434px;
  height:43px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:41px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:288px;
  width:219px;
  height:41px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:40px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:344px;
  width:194px;
  height:40px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:41px;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:344px;
  width:265px;
  height:41px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:47px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:607px;
  width:182px;
  height:47px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:149px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:512px;
  width:142px;
  height:149px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:448px;
  width:59px;
  height:26px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:116px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:477px;
  width:770px;
  height:116px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:37px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:704px;
  top:346px;
  width:169px;
  height:37px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:128px;
  width:138px;
  height:44px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:148px;
  width:138px;
  height:18px;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  word-wrap:break-word;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:128px;
  width:138px;
  height:18px;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  word-wrap:break-word;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:297px;
  width:100px;
  height:25px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:661px;
  top:296px;
  width:80px;
  height:25px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:288px;
  width:129px;
  height:41px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:296px;
  width:125px;
  height:25px;
}
#u838_input {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:352px;
  width:108px;
  height:25px;
  text-align:right;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:111px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:1184px;
  top:550px;
  width:19px;
  height:111px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:51px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:397px;
  width:708px;
  height:51px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:274px;
  height:5px;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:146px;
  width:271px;
  height:2px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:139px;
  width:109px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF5706;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:58px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:114px;
  width:300px;
  height:58px;
  text-align:left;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:347px;
  width:73px;
  height:28px;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:346px;
  width:102px;
  height:31px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:63px;
  width:59px;
  height:16px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:348px;
  width:161px;
  height:33px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
