body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:344px;
}
#u1653 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:32px;
  width:444px;
  height:343px;
}
#u1653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:51px;
}
#u1654 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:32px;
  width:444px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1654_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:440px;
  word-wrap:break-word;
}
#u1655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u1655 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:44px;
  width:26px;
  height:27px;
}
#u1655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:23px;
}
#u1656 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:98px;
  width:190px;
  height:22px;
  text-align:left;
}
#u1656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:186px;
  word-wrap:break-word;
}
#u1657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u1657 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:220px;
  width:64px;
  height:22px;
}
#u1657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:60px;
  word-wrap:break-word;
}
#u1658 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:220px;
  width:260px;
  height:63px;
}
#u1658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:63px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u1659 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:320px;
  width:108px;
  height:30px;
}
#u1659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u1660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u1660 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:320px;
  width:108px;
  height:30px;
}
#u1660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u1661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:23px;
}
#u1661 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:138px;
  width:153px;
  height:22px;
  text-align:left;
}
#u1661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:149px;
  word-wrap:break-word;
}
#u1662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
}
#u1662 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:183px;
  width:47px;
  height:22px;
}
#u1662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u1663 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:181px;
  width:260px;
  height:25px;
}
#u1663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u1664_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:719px;
  height:202px;
}
#u1664 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:72px;
  width:716px;
  height:199px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u1664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:712px;
  word-wrap:break-word;
}
