body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1039px;
  height:487px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:16px;
  width:1039px;
  height:487px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:168px;
  width:168px;
  height:32px;
  text-align:left;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:211px;
  height:22px;
}
#u675p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:206px;
  height:6px;
}
#u675p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:6px;
}
#u675p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u675p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u675p002 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u675p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:186px;
  width:200px;
  height:2px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:26px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:174px;
  width:375px;
  height:26px;
  text-align:left;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:371px;
  word-wrap:break-word;
}
