body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:344px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:32px;
  width:444px;
  height:343px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:51px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:32px;
  width:444px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:440px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:44px;
  width:26px;
  height:27px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:23px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:98px;
  width:156px;
  height:22px;
  text-align:left;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:152px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:23px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:220px;
  width:64px;
  height:22px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:60px;
  word-wrap:break-word;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:220px;
  width:260px;
  height:63px;
}
#u965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:63px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:320px;
  width:108px;
  height:30px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:320px;
  width:108px;
  height:30px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:23px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:138px;
  width:153px;
  height:22px;
  text-align:left;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:149px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:183px;
  width:47px;
  height:22px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:181px;
  width:260px;
  height:25px;
}
#u970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:309px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:416px;
  width:444px;
  height:308px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:445px;
  height:51px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:416px;
  width:444px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:440px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:428px;
  width:26px;
  height:27px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:666px;
  width:108px;
  height:30px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:31px;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:666px;
  width:108px;
  height:30px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:23px;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:481px;
  width:153px;
  height:22px;
  text-align:left;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:149px;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:23px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:616px;
  width:47px;
  height:22px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:43px;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:614px;
  width:244px;
  height:25px;
}
#u978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:23px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:524px;
  width:167px;
  height:22px;
  text-align:left;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:163px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:23px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:569px;
  width:273px;
  height:22px;
  text-align:left;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:269px;
  word-wrap:break-word;
}
#u981_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:719px;
  height:202px;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:72px;
  width:716px;
  height:199px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:712px;
  word-wrap:break-word;
}
#u982_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:719px;
  height:202px;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:479px;
  width:716px;
  height:199px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:712px;
  word-wrap:break-word;
}
