body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1478px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:423px;
}
#u550 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:55px;
  width:961px;
  height:422px;
}
#u550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u551 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:8px;
  width:1px;
  height:200px;
}
#u551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:2px;
}
#u552 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:55px;
  width:249px;
  height:1px;
}
#u552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:19px;
}
#u553 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:24px;
  width:95px;
  height:18px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u554 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:116px;
  width:924px;
  height:180px;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:30px;
}
#u555_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:0px;
  width:94px;
  height:30px;
}
#u556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:0px;
  width:107px;
  height:30px;
}
#u557_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:31px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:0px;
  width:232px;
  height:30px;
}
#u558_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:138px;
  height:30px;
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:0px;
  width:154px;
  height:30px;
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:0px;
  width:152px;
  height:30px;
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:47px;
  height:30px;
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:30px;
  width:94px;
  height:30px;
}
#u563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:30px;
  width:107px;
  height:30px;
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:31px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:30px;
  width:232px;
  height:30px;
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:30px;
  width:138px;
  height:30px;
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:30px;
  width:154px;
  height:30px;
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:30px;
  width:152px;
  height:30px;
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:47px;
  height:30px;
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:60px;
  width:94px;
  height:30px;
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:60px;
  width:107px;
  height:30px;
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:31px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:60px;
  width:232px;
  height:30px;
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:60px;
  width:138px;
  height:30px;
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:60px;
  width:154px;
  height:30px;
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:60px;
  width:152px;
  height:30px;
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:47px;
  height:30px;
}
#u576_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:90px;
  width:94px;
  height:30px;
}
#u577_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:90px;
  width:107px;
  height:30px;
}
#u578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:31px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:90px;
  width:232px;
  height:30px;
}
#u579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:90px;
  width:138px;
  height:30px;
}
#u580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:90px;
  width:154px;
  height:30px;
}
#u581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:90px;
  width:152px;
  height:30px;
}
#u582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:47px;
  height:30px;
}
#u583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:120px;
  width:94px;
  height:30px;
}
#u584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u585 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:120px;
  width:107px;
  height:30px;
}
#u585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:31px;
}
#u586 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:120px;
  width:232px;
  height:30px;
}
#u586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u587 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:120px;
  width:138px;
  height:30px;
}
#u587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u588 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:120px;
  width:154px;
  height:30px;
}
#u588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
}
#u589 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:120px;
  width:152px;
  height:30px;
}
#u589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:31px;
}
#u590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:47px;
  height:30px;
}
#u590_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:43px;
  word-wrap:break-word;
}
#u591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:31px;
}
#u591 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:150px;
  width:94px;
  height:30px;
}
#u591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:90px;
  word-wrap:break-word;
}
#u592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:31px;
}
#u592 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:150px;
  width:107px;
  height:30px;
}
#u592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:103px;
  word-wrap:break-word;
}
#u593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:31px;
}
#u593 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:150px;
  width:232px;
  height:30px;
}
#u593_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:228px;
  word-wrap:break-word;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:31px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:150px;
  width:138px;
  height:30px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:150px;
  width:154px;
  height:30px;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:150px;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:150px;
  width:152px;
  height:30px;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:69px;
  width:139px;
  height:29px;
  color:#D7D7D7;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:69px;
  width:100px;
  height:29px;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:151px;
  width:67px;
  height:21px;
  font-size:12px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:181px;
  width:67px;
  height:21px;
  font-size:12px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:211px;
  width:67px;
  height:21px;
  font-size:12px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:241px;
  width:67px;
  height:21px;
  font-size:12px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:22px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:271px;
  width:67px;
  height:21px;
  font-size:12px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:143px;
  width:300px;
  height:41px;
  text-align:left;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:129px;
  height:19px;
}
#u605p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:126px;
  height:6px;
}
#u605p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:8px;
}
#u605p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u605p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u605p002 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u605p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:161px;
  width:120px;
  height:1px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:30px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:94px;
  width:14px;
  height:29px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  word-wrap:break-word;
}
#u607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:42px;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:194px;
  width:300px;
  height:41px;
  text-align:left;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:30px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:1164px;
  top:194px;
  width:14px;
  height:29px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:10px;
  word-wrap:break-word;
}
#u609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:55px;
  width:123px;
  height:28px;
  font-size:12px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:83px;
  width:123px;
  height:28px;
  font-size:12px;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:111px;
  width:123px;
  height:28px;
  font-size:12px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
