body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:43px;
  width:167px;
  height:31px;
}
#u1396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u1397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
}
#u1397 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:43px;
  width:180px;
  height:31px;
}
#u1397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:32px;
}
#u1398 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:43px;
  width:240px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u1399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u1399 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:43px;
  width:150px;
  height:31px;
}
#u1399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:1226px;
}
#u1400 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:72px;
  width:733px;
  height:1225px;
}
#u1400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:1047px;
}
#u1401 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:251px;
  width:22px;
  height:1046px;
}
#u1401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:491px;
  width:18px;
  word-wrap:break-word;
}
#u1402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1225px;
}
#u1402 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:73px;
  width:1px;
  height:1224px;
}
#u1402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1226px;
}
#u1403 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:72px;
  width:1px;
  height:1225px;
}
#u1403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1404 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1200px;
  width:72px;
  height:22px;
  font-size:10px;
}
#u1404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u1405p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:78px;
  height:6px;
}
#u1405p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u1405p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1405p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1405p002 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1405p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u1405 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1243px;
  width:72px;
  height:1px;
}
#u1405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:5px;
}
#u1406 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1191px;
  width:42px;
  height:4px;
  font-size:10px;
}
#u1406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  word-wrap:break-word;
}
#u1407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u1407 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1228px;
  width:42px;
  height:14px;
  font-size:10px;
}
#u1407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u1408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u1408p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:78px;
  height:6px;
}
#u1408p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u1408p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1408p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1408p002 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1408p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u1408 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1271px;
  width:72px;
  height:1px;
}
#u1408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u1409 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1256px;
  width:42px;
  height:14px;
  font-size:10px;
}
#u1409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u1410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1410 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:950px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u1411 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:1014px;
  width:106px;
  height:24px;
  font-size:12px;
}
#u1411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u1412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1412 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1168px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1413 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:962px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1413_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u1413_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-5px;
  width:8px;
  height:9px;
}
#u1413_seg2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-5px;
  width:155px;
  height:8px;
}
#u1413_seg3 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:-10px;
  width:19px;
  height:18px;
}
#u1413_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u1414 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:949px;
  width:106px;
  height:24px;
  font-size:11px;
}
#u1414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u1415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:12px;
}
#u1415 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:956px;
  width:133px;
  height:11px;
  font-size:10px;
}
#u1415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1416 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:974px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1416_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1416_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u1416_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1417 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1064px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1418 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1026px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1418_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1418_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1418_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
}
#u1419 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1021px;
  width:44px;
  height:11px;
  font-size:10px;
}
#u1419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1420 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:928px;
  width:15px;
  height:28px;
}
#u1420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:100px;
}
#u1422 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1067px;
  width:108px;
  height:99px;
}
#u1422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u1423 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:1073px;
  width:90px;
  height:19px;
}
#u1423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u1424 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1097px;
  width:83px;
  height:21px;
  font-size:12px;
}
#u1424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u1425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u1425 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1133px;
  width:83px;
  height:21px;
  font-size:12px;
}
#u1425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u1426 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1166px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1426_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u1426_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:10px;
  width:361px;
  height:8px;
}
#u1426_seg2 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:5px;
  width:19px;
  height:18px;
}
#u1426_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1427 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:991px;
  width:15px;
  height:28px;
}
#u1427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:49px;
}
#u1428 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:827px;
  width:112px;
  height:48px;
  font-size:12px;
}
#u1428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
}
#u1429 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:839px;
  width:117px;
  height:24px;
  font-size:11px;
}
#u1429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u1430 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:851px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1430_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:237px;
  height:8px;
}
#u1430_seg1 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1430_text {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1431 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:846px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1432 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:900px;
  width:29px;
  height:17px;
}
#u1432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1433 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:897px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1434 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:875px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1434_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u1434_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u1434_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1435 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:917px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1435_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u1435_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:19px;
}
#u1435_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:909px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1436_seg0 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-4px;
  width:157px;
  height:8px;
}
#u1436_seg1 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1436_text {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1437 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:925px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1438 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:904px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u1439 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:722px;
  width:125px;
  height:24px;
  font-size:12px;
}
#u1439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u1440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1440 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:767px;
  width:29px;
  height:17px;
}
#u1440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1441 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:746px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1441_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u1441_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:19px;
}
#u1441_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:784px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1442_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1442_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:19px;
}
#u1442_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u1443 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:764px;
  width:129px;
  height:24px;
  font-size:12px;
}
#u1443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u1444 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:776px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1444_seg0 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-4px;
  width:142px;
  height:8px;
}
#u1444_seg1 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1444_text {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1445 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:771px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1446 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:797px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1447 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1014px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1448 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1038px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1448_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u1448_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u1448_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:1038px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1449_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u1449_seg1 {
  border-width:0px;
  position:absolute;
  left:-353px;
  top:75px;
  width:357px;
  height:8px;
}
#u1449_seg2 {
  border-width:0px;
  position:absolute;
  left:-359px;
  top:70px;
  width:19px;
  height:18px;
}
#u1449_text {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1450_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1450 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:264px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1450_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1451 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:363px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1452_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1452 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:310px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u1453 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:310px;
  width:89px;
  height:24px;
  font-size:11px;
}
#u1453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1454 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:322px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1454_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u1454_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1454_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1455 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:475px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1456 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:441px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1456_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1456_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u1456_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1457 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:317px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1458 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:363px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1459 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:375px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1459_seg0 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:-4px;
  width:121px;
  height:8px;
}
#u1459_seg1 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1459_text {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1225px;
}
#u1460 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:73px;
  width:1px;
  height:1224px;
}
#u1460_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1461 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:290px;
  width:15px;
  height:28px;
}
#u1461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1462 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:293px;
  width:16px;
  height:28px;
}
#u1462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:71px;
}
#u1463 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:290px;
  width:318px;
  height:70px;
  text-align:left;
}
#u1463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1464 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:928px;
  width:16px;
  height:28px;
}
#u1464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:46px;
}
#u1465 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:928px;
  width:335px;
  height:45px;
  text-align:left;
}
#u1465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:331px;
  word-wrap:break-word;
}
#u1466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1466 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1000px;
  width:16px;
  height:28px;
}
#u1466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1467 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:998px;
  width:318px;
  height:55px;
  text-align:left;
}
#u1467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u1468 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:417px;
  width:128px;
  height:24px;
  font-size:12px;
}
#u1468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u1469 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:387px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1469_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1469_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u1469_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1470 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:189px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u1471 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:110px;
  width:91px;
  height:24px;
  font-size:12px;
}
#u1471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1472 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:110px;
  width:100px;
  height:24px;
  font-size:11px;
}
#u1472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1473 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:122px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1473_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u1473_seg1 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1473_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1474 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:117px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1474_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1475 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:189px;
  width:100px;
  height:24px;
  font-size:11px;
}
#u1475_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1476 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:201px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1476_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u1476_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1476_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:180px;
}
#u1477 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:72px;
  width:22px;
  height:179px;
}
#u1477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:18px;
  word-wrap:break-word;
}
#u1478 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:334px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1478_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u1478_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:44px;
}
#u1478_seg2 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:37px;
  width:140px;
  height:8px;
}
#u1478_seg3 {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:32px;
  width:19px;
  height:18px;
}
#u1478_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
}
#u1479 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:370px;
  width:47px;
  height:11px;
  font-size:10px;
}
#u1479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
}
#u1480 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:517px;
  width:137px;
  height:24px;
  font-size:12px;
}
#u1480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:133px;
  word-wrap:break-word;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:562px;
  width:29px;
  height:17px;
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:617px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u1482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:661px;
  width:29px;
  height:17px;
}
#u1483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:541px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1484_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u1484_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:19px;
}
#u1484_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:579px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1485_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1485_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u1485_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:641px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1486_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u1486_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:7px;
  width:18px;
  height:19px;
}
#u1486_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:678px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1487_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1487_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:590px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:571px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1489_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1489_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-4px;
  width:8px;
  height:171px;
}
#u1489_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:159px;
  width:34px;
  height:8px;
}
#u1489_seg3 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:154px;
  width:19px;
  height:18px;
}
#u1489_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:564px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:694px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1491_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:658px;
  width:129px;
  height:24px;
  font-size:12px;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u1493 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:487px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1493_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u1493_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1493_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
}
#u1494 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:264px;
  width:97px;
  height:24px;
  font-size:11px;
}
#u1494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1495 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:276px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1495_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u1495_seg1 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1495_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1496 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:271px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1497 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:288px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1497_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u1497_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:19px;
}
#u1497_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u1498 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:475px;
  width:89px;
  height:24px;
  font-size:11px;
}
#u1498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1499 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:499px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1499_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u1499_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:5px;
  width:18px;
  height:19px;
}
#u1499_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1500 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:670px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1500_seg0 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-4px;
  width:142px;
  height:8px;
}
#u1500_seg1 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1500_text {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1501 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:663px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1502 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1041px;
  width:15px;
  height:28px;
}
#u1502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1503 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1059px;
  width:16px;
  height:28px;
}
#u1503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1504 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:1057px;
  width:318px;
  height:55px;
  text-align:left;
}
#u1504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1505 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:494px;
  width:15px;
  height:28px;
}
#u1505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1506 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:494px;
  width:15px;
  height:28px;
}
#u1506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:71px;
}
#u1507 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:493px;
  width:318px;
  height:70px;
  text-align:left;
}
#u1507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1508 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:250px;
  width:754px;
  height:1px;
}
#u1508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
