body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:32px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:43px;
  width:167px;
  height:31px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:32px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:43px;
  width:180px;
  height:31px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:32px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:43px;
  width:240px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:236px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:32px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:43px;
  width:150px;
  height:31px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:1226px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:72px;
  width:733px;
  height:1225px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:1047px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:251px;
  width:22px;
  height:1046px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:491px;
  width:18px;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1225px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:239px;
  top:73px;
  width:1px;
  height:1224px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1226px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:72px;
  width:1px;
  height:1225px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1200px;
  width:72px;
  height:22px;
  font-size:10px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u1209p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:78px;
  height:6px;
}
#u1209p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u1209p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1209p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1209p002 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1209p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1243px;
  width:72px;
  height:1px;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:5px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1191px;
  width:42px;
  height:4px;
  font-size:10px;
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  word-wrap:break-word;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1228px;
  width:42px;
  height:14px;
  font-size:10px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u1212p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:78px;
  height:6px;
}
#u1212p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u1212p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1212p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1212p002 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:22px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1212p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:24px;
  height:22px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:1271px;
  width:72px;
  height:1px;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:15px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:1256px;
  width:42px;
  height:14px;
  font-size:10px;
}
#u1213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:38px;
  word-wrap:break-word;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:950px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:1014px;
  width:106px;
  height:24px;
  font-size:12px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:102px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1168px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:962px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1217_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u1217_seg1 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-5px;
  width:8px;
  height:9px;
}
#u1217_seg2 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:-5px;
  width:155px;
  height:8px;
}
#u1217_seg3 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:-10px;
  width:19px;
  height:18px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:25px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:949px;
  width:106px;
  height:24px;
  font-size:11px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:102px;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:12px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:956px;
  width:133px;
  height:11px;
  font-size:10px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:974px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1220_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1220_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1064px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:1026px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1222_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1222_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:12px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:1021px;
  width:44px;
  height:11px;
  font-size:10px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:928px;
  width:15px;
  height:28px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:100px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:1067px;
  width:108px;
  height:99px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:1073px;
  width:90px;
  height:19px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1097px;
  width:83px;
  height:21px;
  font-size:12px;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:22px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:1133px;
  width:83px;
  height:21px;
  font-size:12px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:1166px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1230_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:18px;
}
#u1230_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:10px;
  width:361px;
  height:8px;
}
#u1230_seg2 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:5px;
  width:19px;
  height:18px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:122px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:991px;
  width:15px;
  height:28px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:49px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:827px;
  width:112px;
  height:48px;
  font-size:12px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:108px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:25px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:839px;
  width:117px;
  height:24px;
  font-size:11px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:851px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1234_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:237px;
  height:8px;
}
#u1234_seg1 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:846px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:900px;
  width:29px;
  height:17px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:897px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:875px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u1238_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:917px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1239_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:37px;
}
#u1239_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:20px;
  width:18px;
  height:19px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:909px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1240_seg0 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-4px;
  width:157px;
  height:8px;
}
#u1240_seg1 {
  border-width:0px;
  position:absolute;
  left:-159px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:925px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:904px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:25px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:306px;
  top:722px;
  width:125px;
  height:24px;
  font-size:12px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:121px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:767px;
  width:29px;
  height:17px;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:746px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1245_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u1245_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:19px;
}
#u1245_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:784px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1246_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:19px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:764px;
  width:129px;
  height:24px;
  font-size:12px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:776px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1248_seg0 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-4px;
  width:142px;
  height:8px;
}
#u1248_seg1 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:771px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:797px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:1014px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:1038px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1252_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:30px;
}
#u1252_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:13px;
  width:18px;
  height:19px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:559px;
  top:1038px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1253_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u1253_seg1 {
  border-width:0px;
  position:absolute;
  left:-353px;
  top:75px;
  width:357px;
  height:8px;
}
#u1253_seg2 {
  border-width:0px;
  position:absolute;
  left:-359px;
  top:70px;
  width:19px;
  height:18px;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:71px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:264px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:363px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1256 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:310px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u1257 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:310px;
  width:89px;
  height:24px;
  font-size:11px;
}
#u1257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1258 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:322px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u1258_seg1 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1258_text {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:475px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1260 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:441px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1260_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1260_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u1260_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:317px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:363px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:375px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1263_seg0 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:-4px;
  width:121px;
  height:8px;
}
#u1263_seg1 {
  border-width:0px;
  position:absolute;
  left:-123px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1263_text {
  border-width:0px;
  position:absolute;
  left:-108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1225px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:73px;
  width:1px;
  height:1224px;
}
#u1264_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:290px;
  width:15px;
  height:28px;
}
#u1265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:854px;
  top:293px;
  width:16px;
  height:28px;
}
#u1266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:71px;
}
#u1267 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:290px;
  width:318px;
  height:70px;
  text-align:left;
}
#u1267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:928px;
  width:16px;
  height:28px;
}
#u1268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:46px;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:928px;
  width:335px;
  height:45px;
  text-align:left;
}
#u1269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:331px;
  word-wrap:break-word;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1000px;
  width:16px;
  height:28px;
}
#u1270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:998px;
  width:318px;
  height:55px;
  text-align:left;
}
#u1271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:417px;
  width:128px;
  height:24px;
  font-size:12px;
}
#u1272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:124px;
  word-wrap:break-word;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:387px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1273_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1273_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u1273_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1274 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:189px;
  width:100px;
  height:24px;
  font-size:12px;
}
#u1274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u1275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:25px;
}
#u1275 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:110px;
  width:91px;
  height:24px;
  font-size:12px;
}
#u1275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1276 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:110px;
  width:100px;
  height:24px;
  font-size:11px;
}
#u1276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1277 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:122px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1277_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u1277_seg1 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1277_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1278 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:117px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:25px;
}
#u1279 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:189px;
  width:100px;
  height:24px;
  font-size:11px;
}
#u1279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1280 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:201px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1280_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:8px;
}
#u1280_seg1 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1280_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:180px;
}
#u1281 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:72px;
  width:22px;
  height:179px;
}
#u1281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:18px;
  word-wrap:break-word;
}
#u1282 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:334px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1282_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:9px;
}
#u1282_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:1px;
  width:8px;
  height:44px;
}
#u1282_seg2 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:37px;
  width:140px;
  height:8px;
}
#u1282_seg3 {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:32px;
  width:19px;
  height:18px;
}
#u1282_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:12px;
}
#u1283 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:370px;
  width:47px;
  height:11px;
  font-size:10px;
}
#u1283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:25px;
}
#u1284 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:517px;
  width:137px;
  height:24px;
  font-size:12px;
}
#u1284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:133px;
  word-wrap:break-word;
}
#u1285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1285 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:562px;
  width:29px;
  height:17px;
}
#u1285_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:25px;
}
#u1286 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:617px;
  width:120px;
  height:24px;
  font-size:12px;
}
#u1286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:116px;
  word-wrap:break-word;
}
#u1287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u1287 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:661px;
  width:29px;
  height:17px;
}
#u1287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:541px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1288_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u1288_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:8px;
  width:18px;
  height:19px;
}
#u1288_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1289 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:579px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1289_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u1289_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u1289_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1290 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:641px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1290_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u1290_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:7px;
  width:18px;
  height:19px;
}
#u1290_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1291 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:678px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1291_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u1291_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u1291_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1292 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:590px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1293 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:571px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1293_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1293_seg1 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-4px;
  width:8px;
  height:171px;
}
#u1293_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:159px;
  width:34px;
  height:8px;
}
#u1293_seg3 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:154px;
  width:19px;
  height:18px;
}
#u1293_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1294 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:564px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1295 {
  border-width:0px;
  position:absolute;
  left:361px;
  top:694px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
}
#u1296 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:658px;
  width:129px;
  height:24px;
  font-size:12px;
}
#u1296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:125px;
  word-wrap:break-word;
}
#u1297 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:487px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1297_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u1297_seg1 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1297_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
}
#u1298 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:264px;
  width:97px;
  height:24px;
  font-size:11px;
}
#u1298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1299 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:276px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1299_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u1299_seg1 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1299_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:12px;
}
#u1300 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:271px;
  width:34px;
  height:11px;
  font-size:10px;
}
#u1300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u1301 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:288px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1301_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:26px;
}
#u1301_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:9px;
  width:18px;
  height:19px;
}
#u1301_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
}
#u1302 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:475px;
  width:89px;
  height:24px;
  font-size:11px;
}
#u1302_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:85px;
  word-wrap:break-word;
}
#u1303 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:499px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1303_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:22px;
}
#u1303_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:5px;
  width:18px;
  height:19px;
}
#u1303_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:1px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:670px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1304_seg0 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-4px;
  width:142px;
  height:8px;
}
#u1304_seg1 {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1304_text {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1305 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:663px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1305_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1306 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:1041px;
  width:15px;
  height:28px;
}
#u1306_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:39px;
}
#u1307 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:1059px;
  width:16px;
  height:28px;
}
#u1307_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  word-wrap:break-word;
}
#u1308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:56px;
}
#u1308 {
  border-width:0px;
  position:absolute;
  left:904px;
  top:1057px;
  width:318px;
  height:55px;
  text-align:left;
}
#u1308_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1309 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:494px;
  width:15px;
  height:28px;
}
#u1309_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:39px;
}
#u1310 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:494px;
  width:15px;
  height:28px;
}
#u1310_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  word-wrap:break-word;
}
#u1311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:71px;
}
#u1311 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:493px;
  width:318px;
  height:70px;
  text-align:left;
}
#u1311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:314px;
  word-wrap:break-word;
}
#u1312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u1312 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:250px;
  width:754px;
  height:1px;
}
#u1312_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
