body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:970px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:954px;
  height:214px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:39px;
  width:954px;
  height:214px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:51px;
  width:933px;
  height:186px;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:0px;
  width:152px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:148px;
  word-wrap:break-word;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:150px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:146px;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:0px;
  width:528px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:524px;
  word-wrap:break-word;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:103px;
  height:30px;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:30px;
  width:152px;
  height:30px;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:30px;
  width:150px;
  height:30px;
}
#u498_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:30px;
  width:528px;
  height:30px;
  text-align:left;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:524px;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:103px;
  height:30px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:99px;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:60px;
  width:152px;
  height:30px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  word-wrap:break-word;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:60px;
  width:150px;
  height:30px;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:30px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:60px;
  width:528px;
  height:30px;
  text-align:left;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:524px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:96px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:103px;
  height:96px;
  color:#1E1E1E;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:99px;
  word-wrap:break-word;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:96px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:90px;
  width:152px;
  height:96px;
  color:#1E1E1E;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:148px;
  word-wrap:break-word;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:96px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:90px;
  width:150px;
  height:96px;
  color:#1E1E1E;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:146px;
  word-wrap:break-word;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:528px;
  height:96px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:90px;
  width:528px;
  height:96px;
  color:#1E1E1E;
  text-align:left;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:524px;
  word-wrap:break-word;
}
