body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:1018px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:38px;
  width:470px;
  height:1018px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:102px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:137px;
  width:291px;
  height:102px;
  text-align:left;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:287px;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(27, 69, 154, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:86px;
  width:140px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:136px;
  word-wrap:break-word;
}
