body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:87px;
}
#u1481 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:23px;
  width:943px;
  height:86px;
  text-align:left;
}
#u1481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:939px;
  word-wrap:break-word;
}
#u1482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:184px;
}
#u1482 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:291px;
  width:943px;
  height:183px;
  text-align:left;
}
#u1482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:939px;
  word-wrap:break-word;
}
#u1483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:105px;
}
#u1483 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:155px;
  width:943px;
  height:104px;
  text-align:left;
}
#u1483_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:939px;
  word-wrap:break-word;
}
#u1484 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:341px;
  width:911px;
  height:110px;
}
#u1485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u1485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1485_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u1486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u1486 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1486_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u1487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:31px;
}
#u1487 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:284px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1487_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u1488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:31px;
}
#u1488 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:0px;
  width:364px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1488_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u1489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:81px;
}
#u1489 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u1489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:157px;
  word-wrap:break-word;
}
#u1490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:81px;
}
#u1490 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:30px;
  width:102px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1490_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:98px;
  word-wrap:break-word;
}
#u1491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:81px;
}
#u1491 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:30px;
  width:284px;
  height:80px;
  color:#FFFFFF;
  text-align:left;
}
#u1491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:81px;
}
#u1492 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:30px;
  width:364px;
  height:80px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u1492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
