body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:616px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:543px;
  height:293px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:30px;
  width:543px;
  height:293px;
  text-align:left;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-26px;
  width:539px;
  word-wrap:break-word;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:394px;
  width:446px;
  height:120px;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:148px;
  height:30px;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:0px;
  width:198px;
  height:30px;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:148px;
  height:30px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:30px;
  width:198px;
  height:30px;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:148px;
  height:30px;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:60px;
  width:198px;
  height:30px;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:148px;
  height:30px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:144px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:30px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:90px;
  width:198px;
  height:30px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:194px;
  word-wrap:break-word;
}
