body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1203px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1177px;
  height:538px;
}
#u1322 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:1177px;
  height:538px;
}
#u1322_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1323 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:102px;
  width:21px;
  height:21px;
}
#u1323_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1003px;
  height:354px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1324 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:148px;
  width:1003px;
  height:354px;
}
#u1324_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1325 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:98px;
  width:82px;
  height:30px;
}
#u1325_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u1326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:13px;
  background:inherit;
  background-color:rgba(64, 158, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u1326 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:109px;
  width:47px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:left;
}
#u1326_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:43px;
  word-wrap:break-word;
}
#u1327 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1328_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:62px;
}
#u1328 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:128px;
  width:138px;
  height:62px;
}
#u1328_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u1329 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:148px;
  width:138px;
  height:18px;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u1329_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  word-wrap:break-word;
}
#u1330_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u1330 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:128px;
  width:138px;
  height:18px;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u1330_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  word-wrap:break-word;
}
#u1331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u1331 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:167px;
  width:138px;
  height:18px;
  font-size:10px;
  color:#488BFE;
  text-align:left;
}
#u1331_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:134px;
  word-wrap:break-word;
}
#u1332_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1332 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1332_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1333_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:2px;
}
#u1333 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:176px;
  width:970px;
  height:1px;
}
#u1333_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1334 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:191px;
  width:16px;
  height:16px;
}
#u1334_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:left;
}
#u1335 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:191px;
  width:125px;
  height:15px;
  color:#0099CC;
  text-align:left;
}
#u1335_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u1336_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1336 {
  border-width:0px;
  position:absolute;
  left:418px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1336_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1337 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:192px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1337_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1338_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1338 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1338_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1339_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1339 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1339_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1340_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1340 {
  border-width:0px;
  position:absolute;
  left:970px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1340_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1341_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1341 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1341_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1342_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1342 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:191px;
  width:82px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1342_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1343_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1343 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1343_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1344_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1344 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:191px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1344_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1345_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1345 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:191px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1345_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1346_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1346 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:192px;
  width:65px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1346_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u1347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1347 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1347_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1348 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:192px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1348_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1349 {
  border-width:0px;
  position:absolute;
  left:683px;
  top:153px;
  width:91px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1349_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u1350_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1350 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:191px;
  width:60px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1350_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1351 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:153px;
  width:76px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1351_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u1352_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1352 {
  border-width:0px;
  position:absolute;
  left:808px;
  top:191px;
  width:43px;
  height:18px;
  font-size:11px;
}
#u1352_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u1353 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:190px;
  width:113px;
  height:21px;
}
#u1353_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:722px;
  height:136px;
}
#u1354 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:209px;
  width:722px;
  height:136px;
}
#u1354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1355_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:left;
}
#u1355 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:364px;
  width:125px;
  height:15px;
  color:#0099CC;
  text-align:left;
}
#u1355_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u1356_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1356 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:365px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1356_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1357_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1357 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:364px;
  width:82px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1357_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1358 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:364px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1358_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1359 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:364px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1359_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1360_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1360 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:365px;
  width:65px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1360_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u1361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1361 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:365px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1361_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1362 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:364px;
  width:60px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1362_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1363_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1363 {
  border-width:0px;
  position:absolute;
  left:811px;
  top:364px;
  width:43px;
  height:18px;
  font-size:11px;
}
#u1363_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u1364 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:363px;
  width:113px;
  height:21px;
}
#u1364_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:left;
}
#u1365 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:406px;
  width:125px;
  height:15px;
  color:#0099CC;
  text-align:left;
}
#u1365_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u1366_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1366 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:407px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1366_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1367 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:406px;
  width:82px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1367_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1368_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1368 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:406px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1368_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1369_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1369 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:406px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1369_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1370 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:407px;
  width:65px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u1371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:407px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1372 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:406px;
  width:60px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1372_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:406px;
  width:43px;
  height:18px;
  font-size:11px;
}
#u1373_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:405px;
  width:113px;
  height:21px;
}
#u1374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1375_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099CC;
  text-align:left;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:197px;
  top:446px;
  width:125px;
  height:15px;
  color:#0099CC;
  text-align:left;
}
#u1375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u1376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:447px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1377 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:446px;
  width:82px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1377_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u1378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:446px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:883px;
  top:446px;
  width:76px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  word-wrap:break-word;
}
#u1380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:977px;
  top:447px;
  width:65px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u1381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
  text-align:left;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:447px;
  width:49px;
  height:15px;
  color:#1E1E1E;
  text-align:left;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u1382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:left;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:446px;
  width:60px;
  height:18px;
  font-size:11px;
  text-align:left;
}
#u1382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:446px;
  width:43px;
  height:18px;
  font-size:11px;
}
#u1383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:39px;
  word-wrap:break-word;
}
#u1384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:21px;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:445px;
  width:113px;
  height:21px;
}
#u1384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:406px;
  width:16px;
  height:16px;
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:364px;
  width:16px;
  height:16px;
}
#u1386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:446px;
  width:16px;
  height:16px;
}
#u1387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:538px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:19px;
  width:782px;
  height:538px;
}
#u1388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:37px;
  width:76px;
  height:24px;
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u1390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:628px;
  height:42px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:67px;
  width:628px;
  height:42px;
}
#u1390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#88C2FF;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:75px;
  width:60px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#88C2FF;
}
#u1391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:86px;
  width:155px;
  height:21px;
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:752px;
  height:339px;
}
#u1393 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:109px;
  width:752px;
  height:339px;
}
#u1393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:721px;
  height:192px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:318px;
  width:721px;
  height:192px;
}
#u1394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:65px;
  width:68px;
  height:26px;
}
#u1395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
