body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:918px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:55px;
  width:697px;
  height:917px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:30px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:26px;
  width:350px;
  height:29px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:346px;
  word-wrap:break-word;
}
#u1009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:30px;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:26px;
  width:347px;
  height:29px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:343px;
  word-wrap:break-word;
}
#u1010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:923px;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:50px;
  width:1px;
  height:922px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:918px;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:55px;
  width:27px;
  height:917px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:426px;
  width:23px;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:31px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:96px;
  width:141px;
  height:30px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:31px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:96px;
  width:171px;
  height:30px;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:167px;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:179px;
  width:25px;
  height:15px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:263px;
  width:118px;
  height:30px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:172px;
  width:118px;
  height:30px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:173px;
  width:62px;
  height:28px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:111px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1018_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:163px;
  height:8px;
}
#u1018_seg1 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:126px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1019_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1019_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:19px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:187px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1021_seg0 {
  border-width:0px;
  position:absolute;
  left:-243px;
  top:-4px;
  width:247px;
  height:8px;
}
#u1021_seg1 {
  border-width:0px;
  position:absolute;
  left:-249px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:-172px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:179px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:194px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1024_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:73px;
}
#u1024_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:19px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:216px;
  width:17px;
  height:9px;
  font-size:10px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:13px;
  word-wrap:break-word;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:187px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1026_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1026_seg1 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:263px;
  width:118px;
  height:30px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:347px;
  width:118px;
  height:30px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:347px;
  width:134px;
  height:30px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  word-wrap:break-word;
}
#u1030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:420px;
  width:25px;
  height:15px;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:483px;
  width:129px;
  height:30px;
}
#u1031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u1032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:614px;
  width:118px;
  height:30px;
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:699px;
  width:25px;
  height:15px;
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:762px;
  width:118px;
  height:30px;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:278px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1035_seg0 {
  border-width:0px;
  position:absolute;
  left:-197px;
  top:-4px;
  width:201px;
  height:8px;
}
#u1035_seg1 {
  border-width:0px;
  position:absolute;
  left:-203px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:-148px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:293px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1036_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u1036_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:362px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1037_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:195px;
  height:8px;
}
#u1037_seg1 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:377px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1038_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1038_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:19px;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:435px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1040_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u1040_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:451px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:413px;
  width:129px;
  height:30px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u1043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:414px;
  width:62px;
  height:28px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:428px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1044_seg0 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:-4px;
  width:77px;
  height:8px;
}
#u1044_seg1 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:428px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1046_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u1046_seg1 {
  border-width:0px;
  position:absolute;
  left:-239px;
  top:-4px;
  width:243px;
  height:8px;
}
#u1046_seg2 {
  border-width:0px;
  position:absolute;
  left:-245px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:-170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:420px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:542px;
  width:25px;
  height:15px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:513px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1049_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u1049_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:16px;
  width:18px;
  height:19px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:557px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1051_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1051_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:568px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:644px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1053_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u1053_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:714px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1054_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u1054_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:550px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1056_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u1056_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:315px;
}
#u1056_seg2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:303px;
  width:66px;
  height:8px;
}
#u1056_seg3 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:298px;
  width:19px;
  height:18px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:59px;
  top:122px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:542px;
  width:17px;
  height:18px;
  font-size:10px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:724px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:692px;
  width:129px;
  height:30px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:707px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1060_seg0 {
  border-width:0px;
  position:absolute;
  left:-234px;
  top:-4px;
  width:238px;
  height:8px;
}
#u1060_seg1 {
  border-width:0px;
  position:absolute;
  left:-240px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:-167px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:523px;
  top:699px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:693px;
  width:62px;
  height:28px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:707px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1063_seg0 {
  border-width:0px;
  position:absolute;
  left:-78px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1063_seg1 {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:842px;
  width:118px;
  height:30px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:31px;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:913px;
  width:118px;
  height:30px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:114px;
  word-wrap:break-word;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:792px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1066_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1066_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:872px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1067_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1067_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:31px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:913px;
  width:129px;
  height:30px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:125px;
  word-wrap:break-word;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:928px;
  width:0px;
  height:0px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1069_seg0 {
  border-width:0px;
  position:absolute;
  left:-188px;
  top:-4px;
  width:192px;
  height:8px;
}
#u1069_seg1 {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:74px;
  width:13px;
  height:27px;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:74px;
  width:13px;
  height:27px;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:9px;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:44px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:74px;
  width:508px;
  height:43px;
  text-align:left;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:504px;
  word-wrap:break-word;
}
