body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:24px;
  width:161px;
  height:31px;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:32px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:24px;
  width:353px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:349px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:24px;
  width:124px;
  height:31px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:1740px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:53px;
  width:633px;
  height:1739px;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:1331px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:53px;
  width:22px;
  height:1330px;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:617px;
  width:18px;
  word-wrap:break-word;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:108px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:1128px;
  width:129px;
  height:107px;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:1169px;
  width:76px;
  height:19px;
  font-size:10px;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1135px;
  width:84px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:1198px;
  width:76px;
  height:19px;
  font-size:10px;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:920px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u973 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:920px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u974 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:970px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u975 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:933px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u975_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:165px;
  height:8px;
}
#u975_seg1 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:-9px;
  width:19px;
  height:18px;
}
#u975_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:945px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u976_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u976_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u976_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u977 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1023px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u977_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u978 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1048px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u978_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u978_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:67px;
  width:18px;
  height:19px;
}
#u978_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u979 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1258px;
  width:100px;
  height:31px;
  font-size:10px;
}
#u979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u980 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1314px;
  width:97px;
  height:39px;
  font-size:11px;
}
#u980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u981 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:995px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u981_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u981_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u981_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:1036px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u982_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u982_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:8px;
  height:246px;
}
#u982_seg2 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:234px;
  width:50px;
  height:8px;
}
#u982_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:229px;
  width:19px;
  height:18px;
}
#u982_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:1289px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u983_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u983_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u983_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u984 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:1075px;
  width:42px;
  height:34px;
  font-size:9px;
}
#u984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:38px;
  word-wrap:break-word;
}
#u985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1740px;
}
#u985 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:53px;
  width:1px;
  height:1739px;
}
#u985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u986 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1292px;
  width:72px;
  height:22px;
  font-size:10px;
}
#u986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u987p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:78px;
  height:6px;
}
#u987p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u987p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u987p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u987p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u987p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u987 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1335px;
  width:72px;
  height:1px;
}
#u987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:5px;
}
#u988 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1282px;
  width:42px;
  height:4px;
  font-size:10px;
}
#u988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  word-wrap:break-word;
}
#u989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u989 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1324px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u990p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:78px;
  height:6px;
}
#u990p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u990p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u990p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u990p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u990p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u990 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:1363px;
  width:72px;
  height:1px;
}
#u990_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u991 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:1351px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u992 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:90px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u993 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:90px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u994 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:103px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u994_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u994_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u994_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:90px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u995_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u995_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-21px;
  width:8px;
  height:20px;
}
#u995_seg2 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-21px;
  width:180px;
  height:8px;
}
#u995_seg3 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-21px;
  width:8px;
  height:21px;
}
#u995_seg4 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:-13px;
  width:18px;
  height:19px;
}
#u995_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u996 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:95px;
  width:31px;
  height:15px;
  font-size:9px;
}
#u996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u997 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:64px;
  width:44px;
  height:15px;
  font-size:9px;
}
#u997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u998 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:115px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u998_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u998_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u998_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u999 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:172px;
  width:114px;
  height:25px;
  font-size:10px;
}
#u999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u1000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1740px;
}
#u1000 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:53px;
  width:1px;
  height:1739px;
}
#u1000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:197px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u1001_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u1001_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u1001_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:75px;
}
#u1002 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:167px;
  width:648px;
  height:74px;
  text-align:left;
}
#u1002_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:644px;
  word-wrap:break-word;
}
#u1003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1003 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:161px;
  width:17px;
  height:28px;
}
#u1003_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
}
#u1004 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:265px;
  width:93px;
  height:52px;
  font-size:11px;
}
#u1004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u1005 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:179px;
  width:82px;
  height:39px;
  font-size:10px;
}
#u1005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u1006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u1006 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:265px;
  width:105px;
  height:35px;
  font-size:10px;
}
#u1006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u1007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u1007 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:339px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u1007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u1008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u1008 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:511px;
  width:99px;
  height:44px;
  font-size:10px;
}
#u1008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1009 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:300px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1009_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1009_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u1009_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:364px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1010_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u1010_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:19px;
}
#u1010_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:511px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1011_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-194px;
  width:8px;
  height:198px;
}
#u1011_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-200px;
  width:18px;
  height:19px;
}
#u1011_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-105px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1012 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:241px;
  width:17px;
  height:28px;
}
#u1012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:46px;
}
#u1013 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:256px;
  width:710px;
  height:45px;
  text-align:left;
}
#u1013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u1014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1014 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:250px;
  width:17px;
  height:28px;
}
#u1014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u1015 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:120px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u1015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u1016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u1016 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:120px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u1016_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u1017 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:145px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1017_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1017_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u1017_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:133px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1018_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1018_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1018_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1019 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:94px;
  width:17px;
  height:28px;
}
#u1019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u1020 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:455px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u1020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u1021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u1021 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:396px;
  width:23px;
  height:14px;
}
#u1021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:410px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1022_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u1022_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u1022_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u1023 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:421px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u1023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u1024 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:218px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1024_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1024_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u1024_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:283px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1025_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u1025_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-88px;
  width:8px;
  height:92px;
}
#u1025_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-88px;
  width:26px;
  height:8px;
}
#u1025_seg3 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-93px;
  width:19px;
  height:18px;
}
#u1025_text {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u1026 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:317px;
  width:710px;
  height:79px;
  text-align:left;
}
#u1026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u1027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1027 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:311px;
  width:17px;
  height:28px;
}
#u1027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1028 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:311px;
  width:17px;
  height:28px;
}
#u1028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:511px;
  width:23px;
  height:14px;
}
#u1029_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1030 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:525px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1030_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1030_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u1030_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u1031 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:532px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u1031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u1032 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:480px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1032_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u1032_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:19px;
}
#u1032_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:26px;
}
#u1033 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:565px;
  width:144px;
  height:25px;
  font-size:10px;
}
#u1033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u1034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:48px;
}
#u1034 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:640px;
  width:144px;
  height:47px;
  font-size:10px;
}
#u1034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:140px;
  word-wrap:break-word;
}
#u1035 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:590px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1035_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u1035_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u1035_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u1036 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:715px;
  width:23px;
  height:14px;
}
#u1036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:687px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1037_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u1037_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u1037_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u1038 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:839px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u1038_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u1039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u1039 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:774px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u1039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u1040 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:799px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1040_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1040_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u1040_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:729px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1041_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u1041_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u1041_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u1042 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:737px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u1042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u1043 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:852px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1043_seg0 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-4px;
  width:136px;
  height:8px;
}
#u1043_seg1 {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-297px;
  width:8px;
  height:301px;
}
#u1043_seg2 {
  border-width:0px;
  position:absolute;
  left:-141px;
  top:-303px;
  width:18px;
  height:19px;
}
#u1043_text {
  border-width:0px;
  position:absolute;
  left:-182px;
  top:-90px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:115px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1044_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:809px;
}
#u1044_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:792px;
  width:18px;
  height:19px;
}
#u1044_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:394px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:403px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1045_seg0 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-4px;
  width:79px;
  height:8px;
}
#u1045_seg1 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-124px;
  width:8px;
  height:128px;
}
#u1045_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-124px;
  width:38px;
  height:8px;
}
#u1045_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-129px;
  width:19px;
  height:18px;
}
#u1045_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:397px;
  width:15px;
  height:11px;
  font-size:9px;
}
#u1046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:722px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1047_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u1047_seg1 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1047_seg2 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-443px;
  width:8px;
  height:447px;
}
#u1047_seg3 {
  border-width:0px;
  position:absolute;
  left:-79px;
  top:-443px;
  width:38px;
  height:8px;
}
#u1047_seg4 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-448px;
  width:19px;
  height:18px;
}
#u1047_text {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-207px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:719px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u1048_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:543px;
  width:17px;
  height:28px;
}
#u1049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:548px;
  width:710px;
  height:79px;
  text-align:left;
}
#u1050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:543px;
  width:17px;
  height:28px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:410px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1383px;
  width:22px;
  height:409px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:140px;
  width:18px;
  word-wrap:break-word;
}
#u1053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:1382px;
  width:630px;
  height:1px;
}
#u1053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:1426px;
  width:129px;
  height:35px;
  font-size:10px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:125px;
  word-wrap:break-word;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1418px;
  width:93px;
  height:52px;
  font-size:11px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:317px;
  top:1444px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1056_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u1056_seg1 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:34px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1513px;
  width:115px;
  height:33px;
  font-size:10px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:111px;
  word-wrap:break-word;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:1578px;
  width:710px;
  height:79px;
  text-align:left;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1593px;
  width:115px;
  height:36px;
  font-size:10px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:37px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1672px;
  width:115px;
  height:36px;
  font-size:10px;
}
#u1060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:1668px;
  width:99px;
  height:44px;
  font-size:10px;
}
#u1061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1461px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1062_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1062_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1062_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1546px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1063_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1063_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u1063_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:1629px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1064_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1064_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:19px;
}
#u1064_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:1690px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1065_seg0 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1065_seg1 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1065_text {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:1668px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1066_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-198px;
  width:8px;
  height:202px;
}
#u1066_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-204px;
  width:18px;
  height:19px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-107px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:1640px;
  width:17px;
  height:28px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:1572px;
  width:17px;
  height:28px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
