body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:899px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:506px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:39px;
  width:284px;
  height:506px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
  text-align:left;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:280px;
  width:62px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
  text-align:left;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:58px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:506px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:440px;
  width:284px;
  height:506px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:163px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
  text-align:left;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:326px;
  width:284px;
  height:163px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#797979;
  text-align:left;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:457px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:906px;
  width:284px;
  height:457px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:462px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1307px;
  width:284px;
  height:462px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:91px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:1223px;
  width:213px;
  height:91px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:352px;
  width:216px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:212px;
  word-wrap:break-word;
}
#u883_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:34px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:1728px;
  width:221px;
  height:34px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:217px;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:400px;
  width:40px;
  height:40px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:400px;
  width:40px;
  height:40px;
}
#u885_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:504px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1839px;
  width:284px;
  height:504px;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:140px;
  height:22px;
}
#u887p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:134px;
  height:6px;
}
#u887p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:6px;
}
#u887p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u887p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u887p002 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u887p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:1694px;
  width:129px;
  height:2px;
}
#u887_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:29px;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:1679px;
  width:409px;
  height:29px;
  text-align:left;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  word-wrap:break-word;
}
#u889_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:133px;
  height:22px;
}
#u889p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:126px;
  height:6px;
}
#u889p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:6px;
}
#u889p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u889p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u889p002 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u889p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1750px;
  width:122px;
  height:2px;
}
#u889_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:39px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:1727px;
  width:410px;
  height:39px;
  text-align:left;
}
#u890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:406px;
  word-wrap:break-word;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-1px;
  width:22px;
  height:88px;
}
#u891p000 {
  border-width:0px;
  position:absolute;
  left:-41px;
  top:36px;
  width:84px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u891p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:6px;
}
#u891p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:4px;
  height:4px;
}
#u891p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u891p002 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:60px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u891p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1762px;
  width:2px;
  height:77px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:266px;
  height:38px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:2299px;
  width:266px;
  height:38px;
}
#u892_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:262px;
  word-wrap:break-word;
}
#u893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:1979px;
  width:124px;
  height:39px;
  font-family:'微软雅黑';
  font-style:normal;
  text-align:left;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1687px;
  width:33px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:1743px;
  width:75px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F75534;
}
#u896 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:1786px;
  width:65px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#F75534;
}
#u896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:39px;
}
#u897 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:2038px;
  width:410px;
  height:39px;
  text-align:left;
}
#u897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:406px;
  word-wrap:break-word;
}
#u898_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:145px;
  height:22px;
}
#u898p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:138px;
  height:6px;
}
#u898p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:6px;
}
#u898p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:4px;
}
#u898p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u898p002 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u898p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u898 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1990px;
  width:134px;
  height:2px;
}
#u898_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:39px;
}
#u899 {
  border-width:0px;
  position:absolute;
  left:465px;
  top:1967px;
  width:410px;
  height:39px;
  text-align:left;
}
#u899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:406px;
  word-wrap:break-word;
}
#u900_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u900 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1982px;
  width:33px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u901 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:2010px;
  width:0px;
  height:0px;
}
#u901_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-4px;
  width:8px;
  height:8px;
}
#u901_seg1 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-5px;
  width:8px;
  height:9px;
}
#u901_seg2 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-5px;
  width:234px;
  height:8px;
}
#u901_seg3 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:-5px;
  width:8px;
  height:57px;
}
#u901_seg4 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:44px;
  width:14px;
  height:8px;
}
#u901_seg5 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:38px;
  width:20px;
  height:20px;
}
#u901_text {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u902 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:2000px;
  width:33px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u902_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u903_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:301px;
  height:22px;
}
#u903p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:294px;
  height:4px;
}
#u903p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:4px;
}
#u903p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u903p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u903p002 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:-11px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u903p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u903 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:287px;
  width:290px;
  height:2px;
}
#u903_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:51px;
}
#u904 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:262px;
  width:409px;
  height:51px;
  text-align:left;
}
#u904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:405px;
  word-wrap:break-word;
}
#u905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u905 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:280px;
  width:65px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:51px;
}
#u906 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:370px;
  width:409px;
  height:51px;
  text-align:left;
}
#u906_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:405px;
  word-wrap:break-word;
}
#u907_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-10px;
  width:178px;
  height:22px;
}
#u907p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:172px;
  height:6px;
}
#u907p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:6px;
}
#u907p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:4px;
}
#u907p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u907p002 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u907p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u907 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:384px;
  width:167px;
  height:2px;
}
#u907_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u908 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:377px;
  width:65px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#F75534;
}
#u908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u909 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:400px;
  width:40px;
  height:40px;
}
#u909_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u910 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:400px;
  width:40px;
  height:40px;
}
#u910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:400px;
  width:40px;
  height:40px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
