body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:824px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:818px;
  height:1334px;
}
#u1665 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:52px;
  width:817px;
  height:1333px;
}
#u1665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u1666 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:23px;
  width:437px;
  height:29px;
}
#u1666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:433px;
  word-wrap:break-word;
}
#u1667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:30px;
}
#u1667 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:23px;
  width:380px;
  height:29px;
}
#u1667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:376px;
  word-wrap:break-word;
}
#u1668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1668 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:89px;
  width:112px;
  height:28px;
}
#u1668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u1669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1669 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:159px;
  width:112px;
  height:28px;
}
#u1669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u1670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1670 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:263px;
  width:112px;
  height:28px;
}
#u1670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u1671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u1671 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1292px;
  width:72px;
  height:22px;
  font-size:10px;
}
#u1671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u1672p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:78px;
  height:6px;
}
#u1672p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u1672p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1672p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1672p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1672p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u1672 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1335px;
  width:72px;
  height:1px;
}
#u1672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:5px;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1283px;
  width:42px;
  height:4px;
  font-size:10px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  word-wrap:break-word;
}
#u1674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1324px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u1675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u1675p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:78px;
  height:6px;
}
#u1675p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u1675p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
}
#u1675p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1675p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1675p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:1363px;
  width:72px;
  height:1px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1352px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u1677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:29px;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:531px;
  top:89px;
  width:118px;
  height:28px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:114px;
  word-wrap:break-word;
}
#u1678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:159px;
  width:112px;
  height:28px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:103px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1679_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:193px;
  height:8px;
}
#u1679_seg1 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:44px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:117px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1680_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1680_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u1680_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:173px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1681_seg0 {
  border-width:0px;
  position:absolute;
  left:-192px;
  top:-4px;
  width:196px;
  height:8px;
}
#u1681_seg1 {
  border-width:0px;
  position:absolute;
  left:-198px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:187px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1682_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u1682_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:63px;
  width:18px;
  height:19px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:263px;
  width:136px;
  height:28px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:395px;
  width:136px;
  height:28px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:332px;
  width:25px;
  height:15px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:29px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:533px;
  width:136px;
  height:28px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:533px;
  width:97px;
  height:28px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:602px;
  width:97px;
  height:28px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:146px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:660px;
  width:144px;
  height:145px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:672px;
  width:97px;
  height:28px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:672px;
  width:62px;
  height:28px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:719px;
  width:97px;
  height:28px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:719px;
  width:116px;
  height:28px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:764px;
  width:97px;
  height:28px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:29px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:764px;
  width:126px;
  height:28px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:122px;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:901px;
  width:175px;
  height:28px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u1697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1697 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:837px;
  width:25px;
  height:15px;
}
#u1697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:29px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:1012px;
  width:175px;
  height:28px;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u1699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1699 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:1074px;
  width:25px;
  height:15px;
}
#u1699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:1129px;
  width:72px;
  height:28px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:29px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1218px;
  width:104px;
  height:28px;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u1702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1218px;
  width:72px;
  height:28px;
}
#u1702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  word-wrap:break-word;
}
#u1703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1339px;
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:443px;
  top:47px;
  width:1px;
  height:1338px;
}
#u1703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:277px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1704_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u1704_seg1 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1704_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:291px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1705_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1705_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u1705_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:347px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1706_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u1706_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u1706_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:423px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1707_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u1707_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:19px;
}
#u1707_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:547px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1708_seg0 {
  border-width:0px;
  position:absolute;
  left:-187px;
  top:-4px;
  width:191px;
  height:8px;
}
#u1708_seg1 {
  border-width:0px;
  position:absolute;
  left:-193px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1708_text {
  border-width:0px;
  position:absolute;
  left:-144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:561px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1709_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1709_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u1709_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:630px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1710_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u1710_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:17px;
  width:18px;
  height:19px;
}
#u1710_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:686px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1711_seg0 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-4px;
  width:153px;
  height:8px;
}
#u1711_seg1 {
  border-width:0px;
  position:absolute;
  left:-155px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1711_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:733px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1712_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:201px;
  height:8px;
}
#u1712_seg1 {
  border-width:0px;
  position:absolute;
  left:184px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1712_text {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:778px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1713_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u1713_seg1 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1713_text {
  border-width:0px;
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:792px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1714_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u1714_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u1714_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:852px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1715_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u1715_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:19px;
}
#u1715_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:929px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1716_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u1716_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:14px;
  width:18px;
  height:19px;
}
#u1716_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1040px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1717_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1717_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u1717_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1718 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:956px;
  width:25px;
  height:15px;
}
#u1718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1719 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:971px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1719_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u1719_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u1719_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1089px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1720_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u1720_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u1720_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:1157px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1721_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:65px;
}
#u1721_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:48px;
  width:18px;
  height:19px;
}
#u1721_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1232px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1722_seg0 {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:-4px;
  width:227px;
  height:8px;
}
#u1722_seg1 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1722_text {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1723 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:733px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1723_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:134px;
  height:8px;
}
#u1723_seg1 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:-4px;
  width:8px;
  height:507px;
}
#u1723_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:495px;
  width:140px;
  height:8px;
}
#u1723_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:490px;
  width:19px;
  height:18px;
}
#u1723_text {
  border-width:0px;
  position:absolute;
  left:80px;
  top:244px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1724 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:831px;
  width:97px;
  height:28px;
}
#u1724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1725 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:831px;
  width:62px;
  height:28px;
}
#u1725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1726 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:845px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1726_seg0 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:254px;
  height:8px;
}
#u1726_seg1 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1726_text {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:845px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1727_seg0 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-4px;
  width:101px;
  height:8px;
}
#u1727_seg1 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1727_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728 {
  border-width:0px;
  position:absolute;
  left:602px;
  top:964px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1728_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u1728_seg1 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:-4px;
  width:8px;
  height:187px;
}
#u1728_seg2 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:175px;
  width:120px;
  height:8px;
}
#u1728_seg3 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:170px;
  width:19px;
  height:18px;
}
#u1728_text {
  border-width:0px;
  position:absolute;
  left:90px;
  top:70px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1729 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:364px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1730 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:326px;
  width:62px;
  height:28px;
}
#u1730_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:29px;
}
#u1731 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:326px;
  width:112px;
  height:28px;
}
#u1731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:108px;
  word-wrap:break-word;
}
#u1732 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:340px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1732_seg0 {
  border-width:0px;
  position:absolute;
  left:-235px;
  top:-4px;
  width:239px;
  height:8px;
}
#u1732_seg1 {
  border-width:0px;
  position:absolute;
  left:-241px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1732_text {
  border-width:0px;
  position:absolute;
  left:-168px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1733 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:332px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1734 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:340px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1734_seg0 {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:-4px;
  width:139px;
  height:8px;
}
#u1734_seg1 {
  border-width:0px;
  position:absolute;
  left:-141px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1734_text {
  border-width:0px;
  position:absolute;
  left:-118px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1735 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:837px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1736 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:862px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1737 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:956px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1738 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:981px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1739 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1099px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:29px;
}
#u1740 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1068px;
  width:97px;
  height:28px;
}
#u1740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u1741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1741 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1068px;
  width:62px;
  height:28px;
}
#u1741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1742 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:1082px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1742_seg0 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:-4px;
  width:101px;
  height:8px;
}
#u1742_seg1 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1742_text {
  border-width:0px;
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1743 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:1082px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1743_seg0 {
  border-width:0px;
  position:absolute;
  left:-250px;
  top:-4px;
  width:254px;
  height:8px;
}
#u1743_seg1 {
  border-width:0px;
  position:absolute;
  left:-256px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1743_text {
  border-width:0px;
  position:absolute;
  left:-175px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1744 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:1074px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u1745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1745 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:1218px;
  width:62px;
  height:28px;
}
#u1745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1746 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:1232px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1746_seg0 {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1746_seg1 {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1746_text {
  border-width:0px;
  position:absolute;
  left:-105px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
}
#u1747 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:466px;
  width:25px;
  height:15px;
}
#u1747_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:481px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1748_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1748_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u1748_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:29px;
}
#u1749 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:460px;
  width:62px;
  height:28px;
}
#u1749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:58px;
  word-wrap:break-word;
}
#u1750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:29px;
}
#u1750 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:460px;
  width:146px;
  height:28px;
}
#u1750_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:142px;
  word-wrap:break-word;
}
#u1751 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:474px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1751_seg0 {
  border-width:0px;
  position:absolute;
  left:-217px;
  top:-4px;
  width:221px;
  height:8px;
}
#u1751_seg1 {
  border-width:0px;
  position:absolute;
  left:-223px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1751_text {
  border-width:0px;
  position:absolute;
  left:-158px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:474px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u1752_seg0 {
  border-width:0px;
  position:absolute;
  left:-119px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1752_seg1 {
  border-width:0px;
  position:absolute;
  left:-125px;
  top:-9px;
  width:19px;
  height:18px;
}
#u1752_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:12px;
}
#u1753 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:491px;
  width:17px;
  height:11px;
  font-size:10px;
}
#u1753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  word-wrap:break-word;
}
#u1754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u1754 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:466px;
  width:17px;
  height:15px;
  font-size:10px;
}
#u1754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
