body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:24px;
  width:161px;
  height:31px;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:32px;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:24px;
  width:353px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:349px;
  word-wrap:break-word;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:24px;
  width:124px;
  height:31px;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:1552px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:53px;
  width:633px;
  height:1551px;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:1552px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:53px;
  width:22px;
  height:1551px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:696px;
  width:18px;
  word-wrap:break-word;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:577px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:577px;
  width:66px;
  height:25px;
  font-size:10px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:590px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u654_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:412px;
  height:8px;
}
#u654_seg1 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-9px;
  width:19px;
  height:18px;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:108px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1357px;
  width:129px;
  height:107px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1398px;
  width:76px;
  height:19px;
  font-size:10px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1364px;
  width:84px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1427px;
  width:76px;
  height:19px;
  font-size:10px;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:673px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:686px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u661_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u661_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:19px;
  height:18px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1149px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1149px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1199px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1162px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u665_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u665_seg1 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-9px;
  width:19px;
  height:18px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1174px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u666_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u666_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:673px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:698px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u668_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u668_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:738px;
  width:114px;
  height:25px;
  font-size:10px;
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:792px;
  width:114px;
  height:25px;
  font-size:10px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:763px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u671_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u671_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:16px;
  width:18px;
  height:19px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:583px;
  width:70px;
  height:15px;
  font-size:9px;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1252px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1277px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u674_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u674_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:67px;
  width:18px;
  height:19px;
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1487px;
  width:100px;
  height:31px;
  font-size:10px;
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1543px;
  width:97px;
  height:39px;
  font-size:11px;
}
#u676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1224px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u677_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u677_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u677_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1265px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u678_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u678_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:8px;
  height:246px;
}
#u678_seg2 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:234px;
  width:50px;
  height:8px;
}
#u678_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:229px;
  width:19px;
  height:18px;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1518px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u679_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u679_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:1304px;
  width:42px;
  height:34px;
  font-size:9px;
}
#u680_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:38px;
  word-wrap:break-word;
}
#u681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:849px;
  width:93px;
  height:37px;
  font-size:10px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:817px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u682_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u682_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:19px;
}
#u682_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:980px;
  width:99px;
  height:44px;
  font-size:10px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:980px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u684_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-94px;
  width:8px;
  height:98px;
}
#u684_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-100px;
  width:18px;
  height:19px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1552px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:53px;
  width:1px;
  height:1551px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1521px;
  width:72px;
  height:22px;
  font-size:10px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u687p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:78px;
  height:6px;
}
#u687p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u687p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u687p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u687p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u687p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1564px;
  width:72px;
  height:1px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:5px;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1511px;
  width:42px;
  height:4px;
  font-size:10px;
}
#u688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  word-wrap:break-word;
}
#u689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1553px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u690p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:78px;
  height:6px;
}
#u690p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u690p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u690p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u690p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u690p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1592px;
  width:72px;
  height:1px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1580px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:90px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:90px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:103px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u694_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u694_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:115px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u695_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:466px;
}
#u695_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:449px;
  width:18px;
  height:19px;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:223px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:90px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u696_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u696_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-21px;
  width:8px;
  height:20px;
}
#u696_seg2 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-21px;
  width:180px;
  height:8px;
}
#u696_seg3 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-21px;
  width:8px;
  height:21px;
}
#u696_seg4 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:-13px;
  width:18px;
  height:19px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:95px;
  width:31px;
  height:15px;
  font-size:9px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:64px;
  width:44px;
  height:15px;
  font-size:9px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:602px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u699_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u699_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:19px;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:115px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u700_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u700_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:172px;
  width:114px;
  height:25px;
  font-size:10px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1552px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:53px;
  width:1px;
  height:1551px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:197px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u703_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u703_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:75px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:167px;
  width:648px;
  height:74px;
  text-align:left;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:644px;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:161px;
  width:17px;
  height:28px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:698px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u706_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:455px;
}
#u706_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:438px;
  width:18px;
  height:19px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:218px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:265px;
  width:93px;
  height:52px;
  font-size:11px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:179px;
  width:82px;
  height:39px;
  font-size:10px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:265px;
  width:105px;
  height:35px;
  font-size:10px;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:339px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:520px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:511px;
  width:99px;
  height:44px;
  font-size:10px;
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:300px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u713_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u713_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:364px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u714_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u714_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:19px;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:533px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u715_seg0 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-4px;
  width:87px;
  height:8px;
}
#u715_seg1 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-9px;
  width:19px;
  height:18px;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:511px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u716_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-194px;
  width:8px;
  height:198px;
}
#u716_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-200px;
  width:18px;
  height:19px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-105px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:241px;
  width:17px;
  height:28px;
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:46px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:256px;
  width:710px;
  height:45px;
  text-align:left;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:250px;
  width:17px;
  height:28px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:120px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u720_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:120px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u721_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:145px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u722_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u722_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:133px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u723_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u723_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-9px;
  width:19px;
  height:18px;
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:94px;
  width:17px;
  height:28px;
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:455px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:480px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u726_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u726_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u726_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:396px;
  width:23px;
  height:14px;
}
#u727_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:410px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u728_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u728_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u728_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u729 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:421px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u729_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u730 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:218px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u730_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u730_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u730_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:283px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u731_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u731_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-88px;
  width:8px;
  height:92px;
}
#u731_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-88px;
  width:26px;
  height:8px;
}
#u731_seg3 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-93px;
  width:19px;
  height:18px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:403px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u732_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u732_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:8px;
  height:128px;
}
#u732_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:28px;
  height:8px;
}
#u732_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-129px;
  width:19px;
  height:18px;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:396px;
  width:15px;
  height:11px;
  font-size:9px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:317px;
  width:710px;
  height:79px;
  text-align:left;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:311px;
  width:17px;
  height:28px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:311px;
  width:17px;
  height:28px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:746px;
  width:82px;
  height:39px;
  font-size:10px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:832px;
  width:105px;
  height:35px;
  font-size:10px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:906px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u739_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1087px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u741_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u741_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:931px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u742_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u742_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:19px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:808px;
  width:17px;
  height:28px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:668px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:668px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:693px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u746_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u746_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:19px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:681px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u747_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u747_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-9px;
  width:19px;
  height:18px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:642px;
  width:17px;
  height:28px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1022px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:1047px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u750_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u750_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:963px;
  width:23px;
  height:14px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:977px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u752_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u752_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:988px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:785px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u754_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u754_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:850px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u755_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u755_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-88px;
  width:8px;
  height:92px;
}
#u755_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-88px;
  width:26px;
  height:8px;
}
#u755_seg3 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-93px;
  width:19px;
  height:18px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:970px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u756_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:4px;
}
#u756_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:73px;
  height:8px;
}
#u756_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:8px;
  height:128px;
}
#u756_seg3 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:28px;
  height:8px;
}
#u756_seg4 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-129px;
  width:19px;
  height:18px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:878px;
  width:17px;
  height:28px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1100px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u758_seg0 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-4px;
  width:137px;
  height:8px;
}
#u758_seg1 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-76px;
  width:8px;
  height:80px;
}
#u758_seg2 {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:-82px;
  width:18px;
  height:19px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:75px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:648px;
  width:648px;
  height:74px;
  text-align:left;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:644px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:642px;
  width:17px;
  height:28px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:46px;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:814px;
  width:710px;
  height:45px;
  text-align:left;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:808px;
  width:17px;
  height:28px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:884px;
  width:710px;
  height:79px;
  text-align:left;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:878px;
  width:17px;
  height:28px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:678px;
  width:31px;
  height:15px;
  font-size:9px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
