body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1429px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:32px;
}
#u731 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:24px;
  width:161px;
  height:31px;
}
#u731_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:157px;
  word-wrap:break-word;
}
#u732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:32px;
}
#u732 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:24px;
  width:353px;
  height:31px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u732_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:349px;
  word-wrap:break-word;
}
#u733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u733 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:24px;
  width:124px;
  height:31px;
}
#u733_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  word-wrap:break-word;
}
#u734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:1552px;
}
#u734 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:53px;
  width:633px;
  height:1551px;
}
#u734_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:1552px;
}
#u735 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:53px;
  width:22px;
  height:1551px;
}
#u735_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:696px;
  width:18px;
  word-wrap:break-word;
}
#u736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u736 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:577px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u736_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:26px;
}
#u737 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:577px;
  width:66px;
  height:25px;
  font-size:10px;
}
#u737_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:62px;
  word-wrap:break-word;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:590px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u738_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:412px;
  height:8px;
}
#u738_seg1 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:-9px;
  width:19px;
  height:18px;
}
#u738_text {
  border-width:0px;
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:108px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:1357px;
  width:129px;
  height:107px;
}
#u740_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1398px;
  width:76px;
  height:19px;
  font-size:10px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:25px;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:1364px;
  width:84px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:1427px;
  width:76px;
  height:19px;
  font-size:10px;
}
#u743_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:72px;
  word-wrap:break-word;
}
#u744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:673px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:686px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u745_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:75px;
  height:8px;
}
#u745_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-9px;
  width:19px;
  height:18px;
}
#u745_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:1149px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1149px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u747_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1199px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u748_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:1162px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u749_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:159px;
  height:8px;
}
#u749_seg1 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:-9px;
  width:19px;
  height:18px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1174px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u750_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u750_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:673px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u751_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:698px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u752_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u752_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u752_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:738px;
  width:114px;
  height:25px;
  font-size:10px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:792px;
  width:114px;
  height:25px;
  font-size:10px;
}
#u754_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:763px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u755_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u755_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:16px;
  width:18px;
  height:19px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:583px;
  width:70px;
  height:15px;
  font-size:9px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1252px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1277px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u758_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u758_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:67px;
  width:18px;
  height:19px;
}
#u758_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:32px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1487px;
  width:100px;
  height:31px;
  font-size:10px;
}
#u759_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1543px;
  width:97px;
  height:39px;
  font-size:11px;
}
#u760_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1224px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u761_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u761_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:15px;
  width:18px;
  height:19px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:1265px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u762_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:50px;
  height:8px;
}
#u762_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-4px;
  width:8px;
  height:246px;
}
#u762_seg2 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:234px;
  width:50px;
  height:8px;
}
#u762_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:229px;
  width:19px;
  height:18px;
}
#u762_text {
  border-width:0px;
  position:absolute;
  left:-96px;
  top:111px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:1518px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u763_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u763_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:12px;
  width:18px;
  height:19px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:35px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:1304px;
  width:42px;
  height:34px;
  font-size:9px;
}
#u764_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:38px;
  word-wrap:break-word;
}
#u765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:849px;
  width:93px;
  height:37px;
  font-size:10px;
}
#u765_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:89px;
  word-wrap:break-word;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:817px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u766_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u766_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:19px;
}
#u766_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:980px;
  width:99px;
  height:44px;
  font-size:10px;
}
#u767_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:980px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u768_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-94px;
  width:8px;
  height:98px;
}
#u768_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-100px;
  width:18px;
  height:19px;
}
#u768_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1552px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:53px;
  width:1px;
  height:1551px;
}
#u769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1521px;
  width:72px;
  height:22px;
  font-size:10px;
}
#u770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u771p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:78px;
  height:6px;
}
#u771p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u771p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u771p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u771p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u771p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1564px;
  width:72px;
  height:1px;
}
#u771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:5px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1511px;
  width:42px;
  height:4px;
  font-size:10px;
}
#u772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:38px;
  word-wrap:break-word;
}
#u773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1553px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u774p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:78px;
  height:6px;
}
#u774p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:8px;
}
#u774p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:4px;
  height:2px;
}
#u774p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u774p002 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u774p002_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:22px;
  height:22px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:1592px;
  width:72px;
  height:1px;
}
#u774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:6px;
}
#u775 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:1580px;
  width:42px;
  height:5px;
  font-size:10px;
}
#u775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:38px;
  word-wrap:break-word;
}
#u776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u776 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:90px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u777 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:90px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u778 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:103px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u778_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u778_seg1 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-9px;
  width:19px;
  height:18px;
}
#u778_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:115px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u779_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:466px;
}
#u779_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:449px;
  width:18px;
  height:19px;
}
#u779_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:223px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u780 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:90px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u780_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-9px;
  width:8px;
  height:9px;
}
#u780_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-21px;
  width:8px;
  height:20px;
}
#u780_seg2 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-21px;
  width:180px;
  height:8px;
}
#u780_seg3 {
  border-width:0px;
  position:absolute;
  left:-176px;
  top:-21px;
  width:8px;
  height:21px;
}
#u780_seg4 {
  border-width:0px;
  position:absolute;
  left:-181px;
  top:-13px;
  width:18px;
  height:19px;
}
#u780_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:-25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u781 {
  border-width:0px;
  position:absolute;
  left:187px;
  top:95px;
  width:31px;
  height:15px;
  font-size:9px;
}
#u781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
#u782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
}
#u782 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:64px;
  width:44px;
  height:15px;
  font-size:9px;
}
#u782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u783 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:602px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u783_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u783_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:19px;
}
#u783_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:115px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u784_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u784_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u784_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
}
#u785 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:172px;
  width:114px;
  height:25px;
  font-size:10px;
}
#u785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:110px;
  word-wrap:break-word;
}
#u786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1552px;
}
#u786 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:53px;
  width:1px;
  height:1551px;
}
#u786_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:197px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u787_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u787_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u787_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:75px;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:167px;
  width:648px;
  height:74px;
  text-align:left;
}
#u788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:644px;
  word-wrap:break-word;
}
#u789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:161px;
  width:17px;
  height:28px;
}
#u789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:698px;
  width:0px;
  height:0px;
  color:#199ED8;
}
#u790_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:455px;
}
#u790_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:438px;
  width:18px;
  height:19px;
}
#u790_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:218px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:53px;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:265px;
  width:93px;
  height:52px;
  font-size:11px;
}
#u791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:89px;
  word-wrap:break-word;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:179px;
  width:82px;
  height:39px;
  font-size:10px;
}
#u792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:265px;
  width:105px;
  height:35px;
  font-size:10px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:339px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:520px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:45px;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:511px;
  width:99px;
  height:44px;
  font-size:10px;
}
#u796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:300px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u797_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u797_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:364px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u798_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u798_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:19px;
}
#u798_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:533px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u799_seg0 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:-4px;
  width:87px;
  height:8px;
}
#u799_seg1 {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:-9px;
  width:19px;
  height:18px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:511px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u800_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-194px;
  width:8px;
  height:198px;
}
#u800_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-200px;
  width:18px;
  height:19px;
}
#u800_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-105px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:241px;
  width:17px;
  height:28px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:46px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:256px;
  width:710px;
  height:45px;
  text-align:left;
}
#u802_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:250px;
  width:17px;
  height:28px;
}
#u803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:120px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u804_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:120px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:145px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u806_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u806_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:133px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u807_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u807_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-9px;
  width:19px;
  height:18px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:94px;
  width:17px;
  height:28px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:455px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:480px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u810_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u810_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u810_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:396px;
  width:23px;
  height:14px;
}
#u811_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:410px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u812_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u812_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u812_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:421px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u813_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:218px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u814_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u814_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u814_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:283px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u815_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u815_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-88px;
  width:8px;
  height:92px;
}
#u815_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-88px;
  width:26px;
  height:8px;
}
#u815_seg3 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-93px;
  width:19px;
  height:18px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:403px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u816_seg0 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u816_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:8px;
  height:128px;
}
#u816_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:28px;
  height:8px;
}
#u816_seg3 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-129px;
  width:19px;
  height:18px;
}
#u816_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:396px;
  width:15px;
  height:11px;
  font-size:9px;
}
#u817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
#u818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:317px;
  width:710px;
  height:79px;
  text-align:left;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:311px;
  width:17px;
  height:28px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:311px;
  width:17px;
  height:28px;
}
#u820_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:746px;
  width:82px;
  height:39px;
  font-size:10px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:832px;
  width:105px;
  height:35px;
  font-size:10px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:906px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u823_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1087px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u824_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:867px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u825_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u825_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:931px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u826_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u826_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:19px;
  width:18px;
  height:19px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:808px;
  width:17px;
  height:28px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:668px;
  width:85px;
  height:25px;
  font-size:10px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:26px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:668px;
  width:100px;
  height:25px;
  font-size:10px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:693px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u830_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u830_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:40px;
  width:18px;
  height:19px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:681px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u831_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u831_seg1 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:-9px;
  width:19px;
  height:18px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:642px;
  width:17px;
  height:28px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:26px;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:1022px;
  width:126px;
  height:25px;
  font-size:10px;
}
#u833_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:122px;
  word-wrap:break-word;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:1047px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u834_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u834_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u834_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:15px;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:963px;
  width:23px;
  height:14px;
}
#u835_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:977px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u836_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u836_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:9px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:988px;
  width:19px;
  height:8px;
  font-size:9px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:15px;
  word-wrap:break-word;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:785px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u838_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u838_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:850px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u839_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:15px;
  height:8px;
}
#u839_seg1 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-88px;
  width:8px;
  height:92px;
}
#u839_seg2 {
  border-width:0px;
  position:absolute;
  left:-11px;
  top:-88px;
  width:26px;
  height:8px;
}
#u839_seg3 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-93px;
  width:19px;
  height:18px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:970px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u840_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:4px;
}
#u840_seg1 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-4px;
  width:73px;
  height:8px;
}
#u840_seg2 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:8px;
  height:128px;
}
#u840_seg3 {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:-124px;
  width:28px;
  height:8px;
}
#u840_seg4 {
  border-width:0px;
  position:absolute;
  left:-54px;
  top:-129px;
  width:19px;
  height:18px;
}
#u840_text {
  border-width:0px;
  position:absolute;
  left:-115px;
  top:-47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:404px;
  top:878px;
  width:17px;
  height:28px;
}
#u841_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1100px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#199ED8;
}
#u842_seg0 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-4px;
  width:137px;
  height:8px;
}
#u842_seg1 {
  border-width:0px;
  position:absolute;
  left:-137px;
  top:-76px;
  width:8px;
  height:80px;
}
#u842_seg2 {
  border-width:0px;
  position:absolute;
  left:-142px;
  top:-82px;
  width:18px;
  height:19px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:75px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:648px;
  width:648px;
  height:74px;
  text-align:left;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:644px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:642px;
  width:17px;
  height:28px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:46px;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:814px;
  width:710px;
  height:45px;
  text-align:left;
}
#u845_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:808px;
  width:17px;
  height:28px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:719px;
  top:884px;
  width:710px;
  height:79px;
  text-align:left;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:706px;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:29px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:878px;
  width:17px;
  height:28px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  word-wrap:break-word;
}
#u849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:678px;
  width:31px;
  height:15px;
  font-size:9px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  word-wrap:break-word;
}
