body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:971px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:105px;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:23px;
  width:943px;
  height:104px;
  text-align:left;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:939px;
  word-wrap:break-word;
}
#u954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:335px;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:291px;
  width:943px;
  height:334px;
  text-align:left;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:939px;
  word-wrap:break-word;
}
#u955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:105px;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:155px;
  width:943px;
  height:104px;
  text-align:left;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:939px;
  word-wrap:break-word;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:341px;
  width:911px;
  height:270px;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:31px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:157px;
  word-wrap:break-word;
}
#u958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:31px;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:0px;
  width:102px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:98px;
  word-wrap:break-word;
}
#u959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:31px;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:0px;
  width:284px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:280px;
  word-wrap:break-word;
}
#u960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:31px;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:0px;
  width:364px;
  height:30px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:360px;
  word-wrap:break-word;
}
#u961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:81px;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:161px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:157px;
  word-wrap:break-word;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:81px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:30px;
  width:102px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:98px;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:81px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:30px;
  width:284px;
  height:80px;
  color:#FFFFFF;
  text-align:left;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:280px;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:81px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:30px;
  width:364px;
  height:80px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:360px;
  word-wrap:break-word;
}
#u965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:81px;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:161px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:157px;
  word-wrap:break-word;
}
#u966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:81px;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:110px;
  width:102px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:98px;
  word-wrap:break-word;
}
#u967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:81px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:110px;
  width:284px;
  height:80px;
  color:#FFFFFF;
  text-align:left;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:280px;
  word-wrap:break-word;
}
#u968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:81px;
}
#u968 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:110px;
  width:364px;
  height:80px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:360px;
  word-wrap:break-word;
}
#u969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:81px;
}
#u969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:161px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:157px;
  word-wrap:break-word;
}
#u970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:81px;
}
#u970 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:190px;
  width:102px;
  height:80px;
  font-family:'Helvetica Regular', 'Helvetica';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:98px;
  word-wrap:break-word;
}
#u971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:81px;
}
#u971 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:190px;
  width:284px;
  height:80px;
  color:#FFFFFF;
  text-align:left;
}
#u971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:280px;
  word-wrap:break-word;
}
#u972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:81px;
}
#u972 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:190px;
  width:364px;
  height:80px;
  font-family:'PingFang TC Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:left;
}
#u972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:360px;
  word-wrap:break-word;
}
